<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">CDA Parking History</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">CDA Parking History</a></li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">CDA Parking History</h3>
  
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
        
          <!-- /.card-body -->
          <div class="card-body pb-5">
            <form>
              <div class="row">
                <div class="col-sm-6">
                    <h3 class="card-title mb-2">Prevous CDA Parking</h3>
                    <div class="card-body table-responsive p-0 " >
                        <table class="table table-hover text-nowrap" >
                          <thead>
                           <th>S.No.</th>
                           <th>Subhead</th>
                           <th>Amount</th>
                          </thead>
                          <tbody>
                           <tr>
                             <td>1</td>
                             <td>CGHQ East</td>
                             <td>7677</td>
                           </tr>
                           <tr>
                             <td>2</td>
                             <td>CGHQ East</td>
                             <td>7677</td>
                           </tr>
                           <tr>
                            <td>3</td>
                            <td>CGHQ East</td>
                            <td>7677</td>
                           </tr>
                           <tr>
                            <td>4</td>
                            <td>CGHQ East</td>
                            <td>7677</td>
                           </tr>
                          </tbody>
                          <tfoot style="position: absolute;bottom: -35px;background-color: #f6f9fc;width: 97%;border: 1px solid #dee2e6;border-radius: 0 0px 5px 5px;">
                            <tr style="float: right; padding-right: 102px">
                              <td class="font-weight-bold">Total</td>
                              <td></td>
                              <td class="font-weight-bold"> = 998089</td>
                            </tr>
                          </tfoot>
                        </table>
        
                      </div>
                </div>
                <div class="col-sm-6">
                    <h3 class="card-title mb-2">Current CDA Parking</h3>
                    <div class="card-body table-responsive p-0 " >
                        <table class="table table-hover text-nowrap" >
                          <thead>
                           <th>S.No.</th>
                           <th>Subhead</th>
                           <th>Amount</th>
                          </thead>
                          <tbody>
                           <tr>
                             <td>1</td>
                             <td>CGHQ East</td>
                             <td>7677</td>
                           </tr>
                           <tr>
                             <td>2</td>
                             <td>CGHQ East</td>
                             <td>7677</td>
                           </tr>
                           <tr>
                            <td>3</td>
                            <td>CGHQ East</td>
                            <td>7677</td>
                           </tr>
                           <tr>
                            <td>4</td>
                            <td>CGHQ East</td>
                            <td>7677</td>
                           </tr>
                          </tbody>
                          <tfoot style="position: absolute;bottom: -35px;background-color: #f6f9fc;width: 97%;border: 1px solid #dee2e6;border-radius: 0 0px 5px 5px;">
                            <tr style="float: right; padding-right: 102px">
                              <td class="font-weight-bold">Total</td>
                              <td></td>
                              <td class="font-weight-bold"> = 998089</td>
                            </tr>
                          </tfoot>
                        </table>
        
                      </div>
                </div>
              </div>
            </form>
          </div>
  
  
  
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  