<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">CDA Parking History</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">CDA Parking History</a></li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" *ngIf="newCdaData!=undefined">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header" >
            <h3 class="card-title">CDA Parking History: {{newCdaData[0].unitId.cgUnitShort}} - ({{newCdaData[0].subHead.subHeadDescr}})</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <!-- /.card-body -->
          <div class="card-body pb-5" >
            <form>
              <div class="row">
                <div class="col-sm-6" *ngIf="oldCdaData[0]!=undefined">
                    <h3 class="card-title mb-2">Previous CDA Parking</h3>
                    <div class="card-body table-responsive p-0 " >
                        <table class="table table-hover text-nowrap" >
                          <thead>
                           <th>S.No.</th>
                           <th>CDA</th>
                           <th>Amount (in {{newCdaData[0].amountType.amountType}})</th>
                          </thead>
                          <tbody>
                           <tr *ngFor="let cda of oldCdaData;let i = index">
                             <td>{{i+1}}</td>
                             <td>{{cda.oldGinNo.cdaName}}</td>
                             <td>{{cda.oldAmount}}</td>
                           </tr>

                          </tbody>
                          <tfoot style="position: absolute;bottom: -35px;background-color: #f6f9fc;width: 97%;border: 1px solid #dee2e6;border-radius: 0 0px 5px 5px;">
                            <tr style="float: right; padding-right: 102px">
                              <td class="font-weight-bold">Total</td>
                              <td></td>
                              <td class="font-weight-bold"> = {{oldSumResponse}}</td>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                </div>
                <div class="col-sm-6" *ngIf="newCdaData[0]!=undefined">
                    <h3 class="card-title mb-2">Current CDA Parking </h3>
                    <div class="card-body table-responsive p-0 " >
                        <table class="table table-hover text-nowrap" >
                          <thead>
                           <th>S.No.</th>
                           <th>Subhead</th>
                           <th>Amount (in {{newCdaData[0].amountType.amountType}})</th>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cda of newCdaData;let j = index">
                            <td>{{j+1}}</td>
                            <td>{{cda.newGinNo.cdaName}}</td>
                            <td>{{cda.newAmount}}</td>
                          </tr>
                          </tbody>
                          <tfoot style="position: absolute;bottom: -35px;background-color: #f6f9fc;width: 97%;border: 1px solid #dee2e6;border-radius: 0 0px 5px 5px;">
                            <tr style="float: right; padding-right: 102px">
                              <td class="font-weight-bold">Total</td>
                              <td></td>
                              <td class="font-weight-bold"> = {{newSumResponse}}</td>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                </div>
<!--                <div class="col-sm-6">-->
<!--                  <h3 class="card-title mb-2">Previous Expenditure from  CDA Parking</h3>-->
<!--                  <div class="card-body table-responsive p-0 " >-->
<!--                    <table class="table table-hover text-nowrap" >-->
<!--                      <thead>-->
<!--                      <th>S.No.</th>-->
<!--                      <th>Subhead</th>-->
<!--                      <th>Amount (in {{newCdaData[0].amountType.amountType}})</th>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr *ngFor="let cda of expDataCdaList;let j = index">-->
<!--                        <td>{{j+1}}</td>-->
<!--                        <td>{{cda.ginNo.cdaName}}</td>-->
<!--                        <td>{{cda.amount}}</td>-->
<!--                      </tr>-->
<!--                      </tbody>-->
<!--                      <tfoot style="position: absolute;bottom: -35px;background-color: #f6f9fc;width: 97%;border: 1px solid #dee2e6;border-radius: 0 0px 5px 5px;">-->
<!--                      <tr style="float: right; padding-right: 102px">-->
<!--                        <td class="font-weight-bold">Total</td>-->
<!--                        <td></td>-->
<!--                        <td class="font-weight-bold"> = {{this.expSum}}</td>-->
<!--                      </tr>-->
<!--                      </tfoot>-->
<!--                    </table>-->

<!--                  </div>-->
<!--                </div>-->
              </div>
            </form>
          </div>



        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
