<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget Revision</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budget Revision</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget Revision</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="formdata">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Financial Year</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="budgetFinYears"
                        bindLabel="finYear" placeholder="Select Financial Year" formControlName="finYear"
                        [ngClass]="{'is-invalid' : submitted && formdata.controls.finYear.errors}">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Sub Head</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeads"
                        bindLabel="subHeadDescr" placeholder="Select Sub Head" formControlName="subHead"
                        (change)="getAvailableFund($event,formdata.value)"></ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Major Head</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="Major Head"
                        formControlName="majorHead" readonly />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Minor Head</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="Minor Head"
                        formControlName="minorHead" readonly />
                    </div>
                  </div>

                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Fund Available</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="2.22"
                        formControlName="fundAvailable" readonly />
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>RE(Additional/Withdrawl)</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="0.24"
                        formControlName="reallocateFund" readonly />
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Balance Fund</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="7.432"
                        formControlName="balanceFund" readonly />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label style="opacity:0">.</label>
                    <br>
                    <button type="submit" class="btn btn-primary mr-2">Add</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="card-body table-responsive p-0" style="height: 262px;">
                <table class="table table-hover text-nowrap" style="height: 262px;">
                  <thead>
                    <tr>
                      <th>Unit</th>
                      <th>Existing(crores)</th>
                      <th>RE(crores)</th>
                      <th>Revised</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subHeadWiseUnit of budgetRevisionUnitList; let i = index">
                      <td>
                        <div class="form-group">
                          <ng-select class="form-control select2bs4" style="width: 100%" [items]="allunits"
                            bindLabel="descr" (change)="getAvailableFund($event, i)" appendTo="body"
                            placeholder="Select To Unit" [(ngModel)]="subHeadWiseUnit.unit">
                          </ng-select>
                        </div>
                      </td>
                      <td>
                        <span *ngIf="!subHeadWiseUnit.isSelected">-</span>
                        <span *ngIf="subHeadWiseUnit.isSelected">{{subHeadWiseUnit.existingAmount}}</span>
                      </td>
                      <td><input type="number" class="form-control" id="Aallocationamount"
                          placeholder="Please Revised Amount" [(ngModel)]="subHeadWiseUnit.revisionAmount"
                          (keyup)="revisionAmount(i)" (change)="revisionAmount(i)"
                          [ngModelOptions]="{standalone: true}" /></td>
                      <td>
                        <span *ngIf="!subHeadWiseUnit.isSelected">-</span>
                        <span *ngIf="subHeadWiseUnit.isSelected">{{subHeadWiseUnit.revisiedAmount}}</span>
                      </td>
                      <td><button type="submit" class="btn btn-danger mr-2">Delete</button></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <!-- <td>Total</td>
                      <td>{{totalExistingAmount}}</td>
                      <td>{{totlaRevisionAmount}}</td>
                      <td>38.00</td> -->
                      <td><button type="submit" class="btn btn-primary mr-2"
                          (click)="moveDataToNextGrid(formdata.value)">Add Row</button></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
            <!-- /.col -->
          </div>

          <!-- /.row -->
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th></th>
                      <th>F.Y.</th>
                      <th>Unit</th>
                      <th>Sub Head</th>
                      <th>Bud. Type</th>
                      <th>Existing(In Corores)</th>
                      <th>RE(In Corores)</th>
                      <th>Revised</th>
                      <th>Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr>

                      <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="001"></td>
                      <td>2023-24</td>
                      <td>CGHQ</td>
                      <td>RhQ</td>
                      <td>BE</td>
                      <td>2.45</td>
                      <td>5.45</td>
                      <td>3.45</td>
                      <td>CGHQ to RHQ</td>
                    </tr>
                    <tr>

                      <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="001"></td>
                      <td>2023-24</td>
                      <td>CGHQ</td>
                      <td>RhQ</td>
                      <td>BE</td>
                      <td>2.45</td>
                      <td>5.45</td>
                      <td>3.45</td>
                      <td>CGHQ to RHQ</td>
                    </tr> -->
                  </tbody>
                </table>

              </div>
              <div class="row mt-2">
                <!-- <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                      Showing 1 to 10 of {{length}} entries
                    </div>
                  </div> -->


                <div class="col-sm-12 col-md-12">
                  <button type="submit" class="btn btn-danger mr-2 float-left">Delete</button>
                  <button type="submit" class="btn btn-primary float-left">Print</button>
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>

          <div class="card-body table-responsive p-0 mt-4">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <!-- <th></th> -->
                  <th>Auth Unit</th>
                  <th>Authority</th>
                  <th>Authority Date</th>
                  <th>Remark</th>
                  <th>Document Name</th>
                  <th class="thhead">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uploadData of uploadDocuments; let i = index">
                  <!-- <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="001"></td> -->
                  <td>
                    <div class="form-group">
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="unitForDocuments"
                        bindLabel="descr" (change)="getAvailableFund($event,'')" appendTo="body"
                        placeholder="Select To Unit" [(ngModel)]="uploadData.authUnit">
                      </ng-select>
                    </div>
                  </td>
                  <td><input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Authority"
                      [(ngModel)]="uploadData.authority" name="{{uploadData.authority}}" /></td>
                  <td><input type="date" class="form-control" id="date" [(ngModel)]="uploadData.authorityData" /></td>
                  <td><input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"
                      [(ngModel)]="uploadData.remarks" /></td>
                  <td>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="exampleInputFile"
                            (change)="onChangeFile($event)">
                          <label class="custom-file-label" for="exampleInputFile">Choose
                            file</label>
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text" (click)="uploadFile(i)">Upload</span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-danger float-left"
                      (click)="deleteFieldValue(i)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12 col-md-12">
              <button type="submit" class="btn btn-primary mr-2 float-left" (click)="addFieldValue()">Add Row</button>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
          </div>
        </div>



      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->