<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget Revision</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budget Revision</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget Revision</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <form [formGroup]="formdata">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Financial Year</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="budgetFinYears"
                        bindLabel="finYear" placeholder="Select Financial Year" formControlName="finYear"
                        [ngClass]="{'is-invalid' : submitted && formdata.controls.finYear.errors}" (change)="resetAllocationType()">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Allocation Type</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="allocationType"
                             [readonly]="true"    bindLabel="allocDesc" placeholder="Select Allocation Type" formControlName="allocationType" (change)="getBudgetRevisionData(formdata.value)">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Major Head</label>
                      <ng-select  [items]="majorHeadData"
                                  bindLabel="majorHead" class="form-control select2bs4" formControlName="majorHead"
                                  name="majorHead"
                                  placeholder="Select Major Head" style="width: 100%" (change)="clearsubhead()">
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Sub Head Type<span class="text-danger"></span></label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeadType"
                                 (change)="getSubHeadsData()"  bindLabel="subType" placeholder="Select Amount Unit" formControlName="subHeadType"></ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Sub Head</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeads"
                        bindLabel="subHeadDescr" placeholder="Select Sub Head" formControlName="subHead"
                        (change)="getAvailableFundData(formdata.value)" ></ng-select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Minor Head</label>
                      <ng-select  [items]="minorHeadData"
                                  bindLabel="minorHead" class="form-control select2bs4" formControlName="minorHead"
                                  name="minorHead"
                                  placeholder="Select Minor Head" style="width: 100%" [readonly]="true">
                      </ng-select>
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Available Fund (INR)</label>
                      <input type="number" class="form-control" id="balance" placeholder="Fund Available"
                        formControlName="fundAvailable" readonly />
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Additional/Withdrawl (in {{amountUnit}})</label>
                      <input type="number" class="form-control" id="re" placeholder="0.00"
                        formControlName="reallocateFund" readonly />
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Balance Fund  (INR)</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="Balance Fund"
                        formControlName="balanceFund" readonly />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Rupees in<span class="text-danger"></span></label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="amountType"
                                 (change)="getBudgetRevisionData(formdata.value)"  bindLabel="amountType" placeholder="Select Amount Unit" formControlName="amountType"></ng-select>
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Remarks</label>
                      <input type="text" class="form-control" id="remarks" placeholder="Remarks"
                             formControlName="remarks" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label style="opacity:0">.</label>
                    <br>
                    <button type="submit" class="btn btn-primary mr-2" (click)="saveDataToTable()">Add</button>
<!--                    <button type="submit" class="btn btn-danger">Delete</button>-->
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-8">
              <div class="card-body table-responsive p-0" style="height: 367px;">
                <table class="table table-hover text-nowrap" style="height: 400px;">
                  <thead>
                    <tr>
                      <th>Unit</th>
                      <th>Allocated</th>
<!--                      <th>Existing</th>-->
                      <th>Additional/Withdrawal (in {{amountUnit}})</th>
                      <th>CDA Details</th>
                      <th>Revised (in {{amountUnit}})</th>
<!--                      <th>Action</th>-->
                    </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let subHeadWiseUnit of budgetRevisionUnitList2; let i = index">
                    <td *ngIf="!subHeadWiseUnit.isSelected">{{subHeadWiseUnit.unit.descr}}</td>
                    <td *ngIf="!subHeadWiseUnit.isSelected">{{subHeadWiseUnit.manipulate}} </td>
<!--                    <td *ngIf="!subHeadWiseUnit.isSelected">{{subHeadWiseUnit.remainingAmount}}</td>-->
                    <td *ngIf="!subHeadWiseUnit.isSelected"><input type="number" (change)="revisionAmount(i)" [(ngModel)]="subHeadWiseUnit.revisionAmount"></td>
                    <td *ngIf="!subHeadWiseUnit.isSelected&&subHeadWiseUnit.unit.unit == unitId"><button type="button" class="btn btn-warning mr-2" data-toggle="modal" data-target="#modal-lg" >CDA Details</button></td>
                    <td *ngIf="!subHeadWiseUnit.isSelected&&subHeadWiseUnit.unit.unit != unitId"></td>
                    <td *ngIf="!subHeadWiseUnit.isSelected">{{subHeadWiseUnit.manipulate2}}</td>
                  </tr>
                  </tbody>
                  <tfoot class="tfoot">
                  <tr>
                    <td >Total (in {{amountUnit}})</td>
                    <td >{{totalManipulate}} </td>
<!--                    <td>{{totalRemainingAmount}}</td>-->
                    <td >{{newRevisionAmount}}</td>
                    <td ></td>
                    <td >{{totalManipulate2}}</td>
                  </tr>
                  </tfoot>
                </table>

              </div>
            </div>
            <!-- /.col -->
          </div>

          <!-- /.row -->
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th><input type="checkbox" [(ngModel)]="masterChecked" (change)="selectAll()" [ngModelOptions]="{standalone: true}"> All</th>
                      <th>F.Y.</th>
                      <th>Unit</th>
                      <th>Sub Head</th>
                      <th>Bud. Type</th>
                      <th>Allocated(in {{amountUnit}})</th>
<!--                      <th>Existing (in {{amountUnit}})</th>-->
                      <th>Additional/Withdrawal (in {{amountUnit}})</th>
                      <th>Revised (in {{amountUnit}})</th>
<!--                      <th>Remarks</th>-->
                    </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let td of tabledata; let i = index">
                    <td><input type="checkbox" [(ngModel)]="td.checked" [ngModelOptions]="{standalone: true}"></td>
                    <td>{{td.financialYear.finYear}}</td>
                    <td>{{td.unit.descr}}</td>
                    <td>{{td.subHead.subHeadDescr}}</td>
                    <td>{{td.allocationType.allocationType}}</td>
                    <td>{{td.manipulate}}</td>
<!--                    <td>{{td.amount}} </td>-->
                    <td>{{td.revisedAmount}}</td>
                    <td>{{td.bal}}</td>
                  </tr>
                  </tbody>
                </table>

              </div>
              <div class="row mt-2">

                <div class="col-sm-12 col-md-12">
                  <button type="submit" class="btn btn-danger mr-2 float-left" (click)="deleteTableData()">Delete</button>
<!--                  <button type="submit" class="btn btn-primary float-left">Print</button>-->
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row">
            <button type="submit" class="btn btn-primary mr-2" (click)="confirmModel()">Submit</button>
          </div>
        </div>



      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>
                    <!--                    <th>S.No.</th>-->
                    <th>CDA Name</th>
                    <th *ngIf="cdaDetails!=undefined">Available Amount({{cdaDetails[0].amountType.amountType}})</th>
                    <th *ngIf="amountUnit!=undefined">Withdrawl Amount({{amountUnit}})</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let cda of cdaDetails">
                    <!--                    <td>1</td>-->
                    <td>{{cda.ginNo.cdaName}}</td>
                    <td>{{cda.remainingCdaAmount}}</td>
                    <td><input  [(ngModel)]="cda.amount" type="number" class="form-control" placeholder="Enter Amount in INR" /></td>
                  </tr>

                  </tbody>
                  <!--                  <tfoot>-->
                  <!--                                        <tr>-->
                  <!--                                          <td></td>-->
                  <!--                                          <td><strong>Total</strong></td>-->
                  <!--                                          <td><strong>16.5</strong></td>-->
                  <!--                                          <td><strong>8.4</strong></td>-->
                  <!--                                        </tr>-->
                  <!--                                        </tfoot>-->
                </table>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="checkTotal()">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
