<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget Allocation</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budget Allocation</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget Allocation Unit Wise</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form [formGroup]="formdata" (ngSubmit)="showList(formdata.value)">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Financial Year</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="budgetFinYearsNew"
                        bindLabel="finYear" placeholder="Select Financial Year" formControlName="finYearId"
                        (change)="toUnitAndMajorHeadReset()">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>To Unit</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="allunitsNew"
                        bindLabel="descr" appendTo="body" placeholder="Select To Unit" formControlName="unitId"
                        (change)="majorHeadReset()">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Allocation Type</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="allocationType"
                        bindLabel="allocDesc" placeholder="Select Allocation Type" formControlName="allocationType">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Major Head</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="majorDataNew"
                        bindLabel="majorHead" placeholder="Select Major Head" formControlName="majorHeadId"
                        (change)="getAllSubHeadByFinYearMajorHeadAndUnit(formdata.value)">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Minor Head</label>
                      <!-- <ng-select class="form-control select2bs4" style="width: 100%" [items]="minorHead"
                        bindLabel="minorHead" (change)="getAvailableFund($event)" placeholder="Select Minor Head"
                        formControlName="unit"> -->
                      <input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Minor Head"
                        value="asdf" formControlName="minorHeadId" readonly />
                    </div>
                  </div>

                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Remarks</label>
                      <input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"
                        formControlName="remarks" />
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">


                <div class="card-body table-responsive p-0" style="height:202px;">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>Sr No</th>
                        <th>Sub Head</th>
                        <th>Amount</th>
                        <th>Amount Unit</th>
                        <!-- <th>CDA Parking</th> -->
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subHeadData of subHeadFilterDatas; let i = index">

                        <!-- <div *ngIf="subHeadData.remark == null"> -->



                        <td>{{i+1}}</td>
                        <!-- <td>{{subHeadData.subheadShort}}<input *ngIf=false value="DiwakarChauhan"></td> -->
                        <td>
                          {{subHeadData.subHeadDescr}}
                        </td>
                        <td>
                          <!-- <div *ngIf="subHeadData.isActive == 1" (click)="asd(subHeadData, formdata.value,i)">
                          Click here to enter amount
                        </div>
                        <div *ngIf="subHeadData.isActive == 0">
                          <input type="text" class="form-control" id="Aallocationamount"
                            placeholder="Please Enter Amount" formControlName="amount" />
                        </div> -->

                          <input type="number" [(ngModel)]="subHeadData.amount" [ngModelOptions]="{standalone: true}"
                            id="Aallocationamount" placeholder="Please Enter Amount" />

                        </td>
                        <td>

                          <ng-select class="form-control select2bs4" style="width: 100%" [items]="amountUnit"
                            bindLabel="unit" [ngModelOptions]="{standalone: true}" placeholder="Select Unit"
                            [(ngModel)]="subHeadData.amountUnit">
                          </ng-select>

                          <!--                                        <select class="form-control" id="unit" [(ngModel)]="subHeadData.amountUnit" required [selectedIndex]="0" (change)="test()">-->
                          <!--                                        <option value='10000000'>Crore</option>-->
                          <!--                                        <option value='100000'>Lakh</option>-->
                          <!--                                        <option value='1000'>Thousand</option>-->
                          <!--                                        <option value='100'>Hundred</option>-->
                          <!--                                      </select>-->
                        </td>
                        <!-- <td><button type="button" class="btn btn-warning" data-toggle="modal"
                                                  data-target="#modal-lg">Add CDA</button></td> -->
                        <td>
                          <button type=" submit" class="btn btn-primary mr-2"
                            (click)="addSubHeadValue(subHeadData, formdata.value, i)">Add</button>
                        </td>
                        <!-- </div> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <div class="col-md-6">
                  <label style="opacity:0">.</label>
                  <br>
                  <button type="submit" class="btn btn-primary mr-2">Add</button>
                </div> -->
              </div>
              <!-- /.col -->
            </div>
          </form>

          <!-- /.row -->
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>F.Y.</th>
                      <th>Unit</th>
                      <th>Allocation Type</th>
                      <th>Sub Head</th>
                      <th>Amount</th>
                      <th>Remarks</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let newBudgetAllocation of tableData  | paginate :{itemsPerPage:10,currentPage:p}; let i = index">

                      <td>{{i+1}}</td>
                      <td>{{newBudgetAllocation.financialYear.finYear}}</td>
                      <td>{{newBudgetAllocation.unitName.descr}}</td>
                      <td>{{newBudgetAllocation.allocationType.allocDesc}}</td>
                      <td>{{newBudgetAllocation.selectedSubHead.subHeadDescr}}</td>
                      <td>{{newBudgetAllocation.selectedSubHead.amount}}</td>
                      <td>{{newBudgetAllocation.remarks}}</td>
                      <button type=" submit" class="btn btn-danger mr-2"
                        (click)="deleteRowFromTableData(newBudgetAllocation,i)">Delete</button>
                    </tr>

                  </tbody>
                </table>

              </div>
              <!-- <div class="row mt-2">

                <div class="col-sm-12 col-md-12">
                  <button type="submit" class="btn btn-danger mr-2 float-left"
                    (click)="delteFromTable()">Delete</button>

                  <pagination-controls (pageChange)="p = $event" class="pagination float-right"></pagination-controls>

                </div>
              </div> -->
            </div>
          </div>

          <!--          <div class="card-body table-responsive p-0 mt-4">-->
          <!--            <table class="table table-hover text-nowrap">-->
          <!--              <thead>-->
          <!--                <tr>-->
          <!--                  &lt;!&ndash; <th></th> &ndash;&gt;-->
          <!--                  <th>Auth Unit</th>-->
          <!--                  <th>Authority</th>-->
          <!--                  <th>Authority Date</th>-->
          <!--                  <th>Remark</th>-->
          <!--                  <th>Document Name</th>-->
          <!--                  <th class="thhead">Action</th>-->
          <!--                </tr>-->
          <!--              </thead>-->
          <!--              <tbody>-->
          <!--                <tr *ngFor="let uploadData of uploadDocuments; let i = index">-->
          <!--                  &lt;!&ndash; <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="001"></td> &ndash;&gt;-->
          <!--                  <td>-->
          <!--                    <div class="form-group">-->
          <!--                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="unitForDocuments"-->
          <!--                        bindLabel="descr" (change)="getAvailableFund($event)" appendTo="body"-->
          <!--                        placeholder="Select To Unit" [(ngModel)]="uploadData.authUnit">-->
          <!--                      </ng-select>-->
          <!--                    </div>-->
          <!--                  </td>-->
          <!--                  <td><input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Authority"-->
          <!--                      [(ngModel)]="uploadData.authority" name="{{uploadData.authority}}" /></td>-->
          <!--                  <td><input type="date" class="form-control" id="date" [(ngModel)]="uploadData.authorityData" /></td>-->
          <!--                  <td><input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"-->
          <!--                      [(ngModel)]="uploadData.remarks" /></td>-->
          <!--                  <td>-->
          <!--                    <div class="form-group">-->
          <!--                      <div class="input-group">-->
          <!--                        <div class="custom-file">-->
          <!--                          <input type="file" class="custom-file-input" id="exampleInputFile"-->
          <!--                            (change)="onChangeFile($event)">-->
          <!--                          <label class="custom-file-label" for="exampleInputFile">Choose-->
          <!--                            file</label>-->
          <!--                        </div>-->
          <!--                        <div class="input-group-append">-->
          <!--                          <span class="input-group-text" (click)="uploadFile(i)">Upload</span>-->
          <!--                        </div>-->
          <!--                      </div>-->
          <!--                    </div>-->
          <!--                  </td>-->
          <!--                  <td>-->
          <!--                    <button type="submit" class="btn btn-danger float-left"-->
          <!--                      (click)="deleteFieldValue(i)">Delete</button>-->
          <!--                  </td>-->
          <!--                </tr>-->
          <!--              </tbody>-->
          <!--            </table>-->
          <!--          </div>-->
          <!--          <div class="row mt-2">-->
          <!--            <div class="col-sm-12 col-md-12">-->
          <!--              <button type="submit" class="btn btn-primary mr-2 float-left" (click)="addFieldValue()">Add Row</button>-->
          <!--            </div>-->
          <!--          </div>-->

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row">
            <button type="submit" class="btn btn-primary mr-2"
              (click)="saveBudgetDataFn(saveBudgetData.value)">Submit</button>
          </div>
        </div>



      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->
  <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Parking</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Sr.No.</th>
                      <th>CDA</th>
                      <th>Existing</th>
                      <th>Current</th>
                      <th>Total</th>
                      <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><ng-select class="form-control select2bs4" style="width: 100%" [items]="cgUnits"
                          appendTo="body" bindLabel="descr" (change)="getAvailableFund($event)"
                          placeholder="Select To Unit" formControlName="cbUnit">
                        </ng-select></td>
                      <td>2.30</td>
                      <td><input type="number" id="Aallocationamount" class="form-control"
                          placeholder="Please Enter Amount" /></td>
                      <td>7.8</td>
                      <td><button type="button" class="btn btn-primary">Add Row</button></td>
                    </tr>

                  </tbody>
                </table>

              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
<!-- /.content-wrapper -->