<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" *ngIf="localStorage.getItem('userRole')=='118'">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget Allocation</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budget Allocation</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget Allocation Unit Wise</h3>

          <div class="card-tools">
            <button class="btn btn-tool" data-card-widget="collapse" type="button">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form (ngSubmit)="showList(formdata.value)" [formGroup]="formdata">
            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Financial Year</label>
                      <ng-select (change)="toUnitAndMajorHeadReset()" [items]="budgetFinYearsNew" bindLabel="finYear"
                                 class="form-control select2bs4" formControlName="finYearId" placeholder="Select Financial Year"
                                 style="width: 100%">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>To Unit</label>
                      <ng-select (change)="majorHeadReset()" [items]="allunitsNew" appendTo="body"
                                 bindLabel="descr" class="form-control select2bs4" formControlName="unitId" placeholder="Select To Unit"
                                 style="width: 100%">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Allocation Type</label>
                      <ng-select [items]="allocationType" [readonly]="true" bindLabel="allocDesc"
                                 class="form-control select2bs4" formControlName="allocationType" placeholder="Select Allocation Type"
                                 style="width: 100%">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Subhead Type</label>
                      <ng-select [items]="subHeadType" bindLabel="subType" class="form-control select2bs4"
                                 formControlName="subHeadType" placeholder="Select Major Head" style="width: 100%">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Major Head</label>
                      <ng-select (change)="getAllSubHeadByFinYearMajorHeadAndUnit(formdata.value)" [items]="majorDataNew" bindLabel="majorHead"
                                 class="form-control select2bs4" formControlName="majorHeadId" placeholder="Major Head"
                                 style="width: 100%">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Minor Head</label>
                      <!-- <ng-select class="form-control select2bs4" style="width: 100%" [items]="minorHead"
                        bindLabel="minorHead" (change)="getAvailableFund($event)" placeholder="Select Minor Head"
                        formControlName="unit"> -->
                      <input class="form-control" formControlName="minorHeadId" id="minorHeadId" placeholder="Enter Minor Head"
                             readonly type="text" value="asdf"/>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Rupees in<span class="text-danger"></span></label>
                      <ng-select (change)="setAmountType()" [(ngModel)]="amountUnits" [items]="amountType"
                                 bindLabel="amountType" class="form-control select2bs4" formControlName="amountType"
                                 placeholder="Select Amount Unit" style="width: 100%"></ng-select>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Remarks</label>
                      <input class="form-control" formControlName="remarks" id="PrevAllocation" placeholder="Enter Remarks"
                             type="text"/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button (click)="saveFurtherTable(formdata.value)" class="btn btn-primary mr-2"
                            type="submit">Save
                    </button>
                    <label style="opacity:0">.</label><br>
                  </div>
                </div>

              </div>
              <div class="col-md-7">


                <div class="card-body table-responsive p-0" style="height:300px;">
                  <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                      <th>Sr No</th>
                      <th>Sub Head</th>
                      <th>Fund Available</th>
                      <th style="width:10%;">Amount <span style="font-size: 9px;">(in {{amountUnit}})</span></th>
                      <!--                        <th>Amount Unit</th>-->
                      <th>CDA Selection</th>
                      <!-- <th>Action</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let subHeadData of subHeadFilterDatas; let i = index">
                      <td>{{i + 1}}</td>
                      <td>
                        {{subHeadData.subHeadDescr}}
                      </td>
                      <td>
                        {{subHeadData.totalAmount}}
                      </td>
                      <td>
                        <input (change)="allocatedAmount(i,formdata.value)" [(ngModel)]="subHeadData.amount" [ngModelOptions]="{standalone: true}"
                               id="subHeadDataAmount" placeholder="Please Enter Amount"
                               style="width:102px;" type="number"/>
                      </td>
                      <td>
                        <button (click)="populateCda(subHeadData,i)" *ngIf="subHeadData.cdaParkingTrans.length>1"
                                class="btn btn-warning mr-2" data-target="#modal-lg" data-toggle="modal"
                                type="button">Select CDA
                        </button>
                      </td>
                      <!-- <td>
                        <button *ngIf="subHeadData.cdaParkingTrans.length>1  && !cdaAllocationbalance " type=" submit"
                          class="btn btn-primary mr-2" (click)="addSubHeadValue(subHeadData, formdata.value, i)"
                          disabled>Add</button>
                        <button
                          *ngIf="subHeadData.cdaParkingTrans.length<=1 || (subHeadData.cdaParkingTrans.length>1 && cdaAllocationbalance) "
                          type=" submit" class="btn btn-primary mr-2"
                          (click)="addSubHeadValue(subHeadData, formdata.value, i)">Add</button>
                      </td> -->
                      <!-- </div> -->
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <div class="col-md-6">
                  <label style="opacity:0">.</label>
                  <br>
                  <button type="submit" class="btn btn-primary mr-2">Add</button>
                </div> -->
              </div>
              <!-- /.col -->
            </div>
          </form>

          <!-- /.row -->
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>F.Y.</th>
                    <th>Unit</th>
                    <th>Allocation Type</th>
                    <th>Sub Head</th>
                    <th>Amount (in {{amountUnit}})</th>
                    <!-- <th>Remarks</th> -->
                    <!-- <th>Action</th> -->
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let newBudgetAllocation of tableData  | paginate :{itemsPerPage:25,currentPage:p}; let i = index">

                    <td>{{25 * (p - 1) + i + 1}}</td>
                    <td>{{newBudgetAllocation.financialYear.finYear}}</td>
                    <td>{{newBudgetAllocation.unitName.descr}}</td>
                    <td>{{newBudgetAllocation.allocationType.allocDesc}}</td>
                    <td>{{newBudgetAllocation.selectedSubHead.subHeadDescr}}</td>
                    <td *ngIf="newBudgetAllocation.selectedSubHead.amount == undefined">
                      0
                    </td>
                    <td *ngIf="newBudgetAllocation.selectedSubHead.amount != undefined">
                      {{newBudgetAllocation.selectedSubHead.amount}}
                    </td>
                  </tr>

                  </tbody>
                </table>

              </div>
              <div class="row mt-2">

                <div class="col-sm-12 col-md-12">
                  <pagination-controls (pageChange)="p = $event" class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row" *ngIf="!sharedService.reject">
            <button (click)="saveBudgetDataFn(saveBudgetData.value)" class="btn btn-primary mr-2"
                    type="submit">Submit
            </button>
          </div>
          <div class="row" *ngIf="sharedService.reject">
            <button (click)="updateBudgetDataFn(saveBudgetData.value)" class="btn btn-primary mr-2"
                    type="submit">Update
            </button>
          </div>
        </div>


      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->
  <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Selection</h4>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>
                    <!--                      <th>Sr.No.</th>-->
                    <th>CDA</th>
                    <th>Amount (in {{amountUnit}})</th>
                    <th>Withdrawl (in {{amountUnit}})</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let cda of cdaDetail">
                    <td>{{cda.ginNo.cdaName}}</td>
                    <td>{{cda.remainingCdaAmount}}</td>
                    <td><input (change)="cdaWithdrawl(cda)" [(ngModel)]="cda.amount" class="form-control"
                               id="Allocationamount" placeholder="Please Enter Amount" type="number"/>
                    </td>
                  </tr>

                  </tbody>
                </table>

              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
          <button *ngIf="cdaAllocationbalance" class="btn btn-primary" data-dismiss="modal"
                  type="button">Submit
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
<!-- /.content-wrapper -->
