<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">User Management</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Manage User</a></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Manage User</h3>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form [formGroup]="formdata">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CG P.No.</label>
                                    <ng-select class="form-control select2bs4" style="width: 100%" [disabled]="true"
                                        [items]="allUsers" bindLabel="pno" appendTo="body" placeholder="Select CG P.No."
                                        (change)="setOtherValues($event)" formControlName="pno"></ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" class="form-control" id="fundAvailable" value="{{userName}}"
                                        formControlName="userName" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rank</label>
                                    <input type="text" class="form-control" id="rank" value="{{rank}}"
                                        formControlName="rank" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Role</label>
                                    <ng-select class="form-control select2bs4" style="width: 100%" [disabled]="true"
                                        [items]="allRoles" bindLabel="roleName" appendTo="body"
                                        placeholder="Select Role" formControlName="role"></ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>From Date</label>
                                    <input type="date" class="form-control" id="Date" placeholder="Enter From Date"
                                        formControlName="fromDate" (change)="checkDate(formdata.value,'fromDate')" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To Date</label>
                                    <input type="date" class="form-control" id="Date" placeholder="Enter To Date"
                                        formControlName="toDate" />
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <button type="submit" class="btn btn-primary mr-2"
                            (click)="saveUserData(formdata.value)">Save</button>
                    </div>
                </div>
            </div>
            <!-- /.row -->


            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Users Details</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" [(ngModel)]="searchText" name="search"
                                class="form-control form-control-user search" placeholder="Search by P.No.">
                            <div class="input-group-append">
                                <div class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Unit</th>
                                            <th>Rank</th>
                                            <th>User Name</th>
                                            <th>P.No.</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="searchText == ''">
                                        <tr
                                            *ngFor="let user of usersWithRole  | searchUserPipe: searchText | paginate :{itemsPerPage:10,currentPage:p}; let i = index">
                                            <td>{{10 *(p-1)+i+1}}</td>
                                            <td>{{user.unit}}</td>
                                            <td>{{user.rank}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.pno}}</td>
                                            <td>{{user.fromDate}}</td>
                                            <td>{{user.toDate}}</td>
                                            <td>{{user.role}}</td>
                                            <td>
                                                <span *ngIf="user.isActive == 1">Activated</span>
                                                <span *ngIf="user.isActive == 0">Deactivated</span>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-primary mr-2"
                                                    (click)="saveUserData(formdata.value)"
                                                    *ngIf="user.isActive == 0">Activate</button>
                                                <button type="submit" class="btn btn-danger mr-2"
                                                    (click)="deactivateUserRole(user,10 *(p-1)+i+1)"
                                                    *ngIf="user.isActive == 1">Deactivate</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="searchText != '' ">
                                        <tr
                                            *ngFor="let user of usersWithRole  | searchUserPipe: searchText | paginate :{itemsPerPage:10,currentPage:p}; let i = index">
                                            <td>{{10 *(p-1)+i+1}}</td>
                                            <td>{{user.unit}}</td>
                                            <td>{{user.rank}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.pno}}</td>
                                            <td>{{user.fromDate}}</td>
                                            <td>{{user.toDate}}</td>
                                            <td>{{user.role}}</td>
                                            <td>
                                                <span *ngIf="user.isActive == 1">Activated</span>
                                                <span *ngIf="user.isActive == 0">Deactivated</span>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-primary mr-2"
                                                    (click)="saveUserData(formdata.value)"
                                                    *ngIf="user.isActive == 0">Activate</button>
                                                <button type="submit" class="btn btn-danger mr-2"
                                                    (click)="deactivateUserRole(user,10 *(p-1)+i+1)"
                                                    *ngIf="user.isActive == 1">Deactivate</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">

                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        <pagination-controls class="pagination float-right"
                                            (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
  <div  *ngIf="transfer" class="modal fade show" id="modal-lg2" style="display:block!important">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Hand Over To</h4>
          <button type="button" class="close" (click)="closeTransferModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12" id="cdaParking1">
              <div class="card-body p-0">
                <form [formGroup]="formdata">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>CG P.No.</label>
                        <ng-select class="form-control select2bs4" style="width: 100%" [disabled]="true"
                                   [items]="cbCreaterNewList" bindLabel="pno" appendTo="body" placeholder="Select CG P.No."
                                   (change)="setOtherValues1($event)" formControlName="pno1"></ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" id="fundAvailable" value="{{userName1}}"
                               formControlName="userName" readonly />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Rank</label>
                        <input type="text" class="form-control" id="rank" value="{{rank1}}"
                               formControlName="rank" readonly />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <button class="btn btn-danger mr-2" data-dismiss="modal" (click)="closeTransferModal()">Close</button>
          <button class="btn btn-primary " data-dismiss="modal" >Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
