<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Inbox</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Inbox</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="inbox">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Inbox</h3>

            <!-- <div class="card-tools">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search Requests">
                <div class="input-group-append">
                  <div class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover table-striped">
                <thead>
                  <th>S.No.</th>
                  <th>Type</th>
                  <th>Created Date & Time</th>
                  <!-- <th>Created By</th> -->
                  <th>From Unit</th>
                  <!--                  <th>To Unit</th>-->
                  <th>Status</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <!-- <tr data-toggle="modal" data-target="#modal-lg">
                      <td>1</td>
                      <td>Budeget Allocation</td>
                      <td>21/03/2023 9:00</td>
                      <td>Meena</td>
                      <td>CGHQ</td>
                      <td>Approved</td>
                    </tr> -->
                  <tr *ngFor="let li of inboxList| paginate :{itemsPerPage:20,currentPage:p}; let i = index"
                    id="htmlData" (click)="redirect(li)">
                    <td>{{20 *(p-1)+i+1}}</td>
                    <td>{{li.type}}</td>
                    <td>{{li.createDate}}</td>
                    <!-- <td>{{li.createBy}}</td> -->
                    <td>{{li.unitName}}</td>
                    <!--                    <td>{{li.unitName}}</td>-->
                    <td>{{li.status}}</td>
                    <td><button type="submit" class="btn btn-warning mr-2" (click)="redirect(li)"> <i
                          class="fas fa-eye"></i> View</button> </td>
                  </tr>
                </tbody>
              </table>
              <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->
          <div class="row mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->
  <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Parking</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card-tools float-right mb-2">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Search Requests">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>

              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>F.Y.</th>
                      <th>Unit</th>
                      <th>Major Head</th>
                      <th>Minor Head</th>
                      <th>Sub Head</th>
                      <th>Bud. Type</th>
                      <th>Amount</th>
                      <th>Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2022-23</td>
                      <td>CGHQ</td>
                      <td>Dte. Budget</td>
                      <td>Minor Head</td>
                      <td>Sub Head</td>
                      <td>BE</td>
                      <td>550.0000</td>
                      <td>Remarks</td>
                    </tr>

                  </tbody>
                  <tfoot>
                    <tr>
                      <td><button type="button" class="btn btn-primary" id="btnCda">Add CDA Parking</button></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
            <div class="col-sm-12" id="cdaParking">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>CDA</th>
                      <th>Existing</th>
                      <th>Current</th>
                      <th>Total</th>
                      <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><ng-select class="form-control select2bs4" style="width: 100%" appendTo="body"
                          placeholder="Select To Unit" formControlName="cbUnit">
                        </ng-select></td>
                      <td>2.30</td>
                      <td><input type="text" class="form-control" id="Aallocationamount"
                          placeholder="Please Enter Amount" /></td>
                      <td>7.8</td>
                      <td><button type="button" class="btn btn-primary">Add Row</button></td>
                    </tr>

                  </tbody>
                </table>

              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
<!-- /.content-wrapper -->