
.table td, .table th {
  border: 1px solid #e5e7ea;
}
tr:first-child {
  position: sticky;
  top: -1px;
  background: #fff;
  font-weight: 600;
}
tr td:first-child {
  position: sticky;
  top: 77px;
  left: -1px;
  background: #fff;
}
tr:first-child td{
  top: 0px;
}
.table-responsive{
  height: 400px;
}

.table-hover tbody tr:hover td{
  color: #ffffff;
  background-color: #0069d9;
}