<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Contingent Bill Entry</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Contingent Bill Entry</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">New Contingent Bill</h3>
          <div class="card-tools">
            <button class="btn btn-tool" data-card-widget="collapse" type="button">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="cbForm">
          <form (ngSubmit)="submitList()" [formGroup]="formdata">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Financial Year</label>
                  <ng-select [items]="finYearData" bindLabel="finYear" class="form-control select2bs4"
                             formControlName="finYearName" placeholder="Select Financial Year" required
                             style="width: 100%" (change)="cleardata(0)">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Major Head</label>
                  <ng-select [(ngModel)]="majorHead" [items]="majorHeadData"
                             bindLabel="majorHead" class="form-control select2bs4" formControlName="majorHead"
                             name="majorHead" (change)="cleardata(1)"
                             placeholder="Select Major Head" style="width: 100%">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sub Head Type<span class="text-danger"></span></label>
                  <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeadType" (change)="cleardata(2)"
                             (change)="setSubHead()" bindLabel="subType" placeholder="Select Amount Unit" formControlName="subHeadType"></ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sub Head</label>
                  <ng-select [(ngModel)]="subHead" [items]="subHeadData" bindLabel="subHeadDescr" class="form-control select2bs4"
                             formControlName="subHead" name="subHead" placeholder="Select Sub Head" (change)="getAvailableFundData()" (change)="cleardata(4)" (change)="getCbNo(formdata.value)"
                             style="width: 100%">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>CB Unit</label>
                  <input class="form-control" formControlName="unit" id="unit" readonly type="text" readonly/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Minor Head</label>
                  <ng-select [items]="minorHeadData" bindLabel="minorHead" class="form-control select2bs4"
                             formControlName="minorHead" placeholder="Select Minor Head"
                             style="width: 100%" (change)="cleardata(4)">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Budget Alloted</label>
                  <input class="form-control" formControlName="budgetAllocated" id="budgetAllotted" readonly
                         type="number" placeholder="Budget Alloted"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>CB Amount</label>
                  <input (change)="updateExpenditure()" class="form-control" formControlName="amount"
                         id="Amount"  type="number" placeholder="Enter Amount in INR"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Proggressive Expenditure Including This Bill</label>
                  <input class="form-control" formControlName="progressive" id="Proggressive" readonly type="number" placeholder="Progressive Amount"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Balance Fund</label>
                  <input class="form-control" formControlName="balance" id="BalanceFund" readonly type="text"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>CB No.</label>
<!--                  Unit/subhead/01/fin-year-->
                  <input class="form-control" formControlName="cbNo" id="PrevAllocation" placeholder="Enter CB Number"
                         type="text" (change)="cleardata(6)" readonly/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>CB Date</label>
                  <input class="form-control" formControlName="cbDate" id="cbDate" placeholder="Enter Date"
                         type="date" (change)="checkDate()" (change)="cleardata(7)" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction Unit</label>
                  <input class="form-control" formControlName="authorityUnit" id="authorityUnit" placeholder=""
                         type="text" readonly/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction</label>
                  <input class="form-control" (change)="cleardata(9)" formControlName="authority" id="authority" placeholder="Enter Remarks"
                         type="text"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction Date</label>
                  <input class="form-control" (change)="cleardata(10)" formControlName="date" id="date" placeholder="Enter Date" type="date"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="InputFile">Sanction File</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input #browseFileInput class="custom-file-input" formControlName="file" id="InputFile"
                             type="file">
                      <label class="custom-file-label" for="InputFile">Choose file</label>
                    </div>
                    <div class="input-group-append">

                      <span (click)="upload('browse')" class="input-group-text" style="cursor: pointer">Upload</span>
                    </div>
                    <div class="input-group-append" *ngIf="browse!=undefined">
                      <span class="input-group-text" (click)="viewFile(browse)">View</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Firm Name</label>
                  <input class="form-control" formControlName="firmName" id="FirmName" placeholder="Enter Firm Name"
                         type="text" (change)="cleardata(11)"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Invoice Number</label>
                  <input class="form-control" formControlName="invoiceNo" id="invoiceNo" placeholder="Enter Invoice Number"
                         type="text" (change)="cleardata(12)"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Invoice Date</label>
                  <input class="form-control" formControlName="invoiceDate" id="invoiceDate" placeholder="Enter Invoice Date"
                         type="date" (change)="cleardata(13)"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="invoice">Invoice Upload</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input #invoiceFileInput class="custom-file-input" formControlName="file" id="invoice"
                             type="file">
                      <label class="custom-file-label" for="invoice">Choose file</label>
                    </div>
                    <div class="input-group-append">
                      <span (click)="upload('invoice')" class="input-group-text" style="cursor: pointer">Upload</span>
                    </div>

                    <div class="input-group-append" *ngIf="invoice!=undefined">
                      <span class="input-group-text" (click)="viewFile(invoice)">View</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>File Number</label>
                  <input class="form-control" formControlName="fileNo" id="fileNumber" (change)="cleardata(14)" placeholder="Enter File Number"
                         type="text"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>File Date</label>
                  <input class="form-control" formControlName="fileDate" (change)="cleardata(15)" id="fileDate" placeholder="Enter Invoice Date"
                         type="date"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>On Account Of</label>
                  <textarea class="form-control" formControlName="onAccOf" id="onAccOf"
                            placeholder="Quarterly payment(3rd Qtr) towars hiring of Designer/Developer IT Manpower(Project SDOT)"
                            type="text"></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Authority Details</label>
                  <textarea class="form-control" formControlName="authDetail" id="authDetail"
                            placeholder="S1.10.1 of Shedule-10 of DFPCG-2017 vide Govt. of India, Ministry of Defence letter No. PF/0104/CGHQ/2017/D (CG) dated 04 Jul 2017"
                            type="text"></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Return Remarks</label>
                  <input class="form-control" formControlName="returnRemarks" id="ReturnRemarks" placeholder="Return Remarks"
                         readonly type="text"/>
                </div>

              </div>

              <div class="col-md-3">
                <label style="opacity: 0;">.</label><br>
                <button (click)="updateList()" class="btn btn-primary mr-2" type="button">Update CB</button>
                <button (click)="addToList()" class="btn btn-primary" type="button">Save CB</button>
                <!--                <button type="submit" class="btn btn-primary" (click)="dummydata()"></button>-->
              </div>
              <!-- /.col -->
            </div>
            <div class="row mt-4">
              <div class="col-sm-12">
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap" id="cbTable">
                    <thead>
                    <tr>
                      <th><input type="checkbox" [(ngModel)]="masterChecked" (change)="selectAll()" [ngModelOptions]="{standalone: true}"> All</th>
                      <!--                      <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>-->
                      <th>F.Y.</th>
                      <th>CB Unit</th>
                      <th>Sub Head</th>
                      <th>CB No.</th>
                      <th>Amount</th>
                      <th>CB Date</th>
                      <th>Status</th>
                      <th></th>
                      <th ng-if="approvedPresent">Ink Sign</th>

                    </tr>
                    </thead>
                    <tbody>
<!--                    <tr ng-repeat="item in items">-->
                    <tr *ngFor="let cb of cbList.reverse()  | paginate :{itemsPerPage:10,currentPage:p}; let i = index" id="htmlData" >
<!--                      <td><input (change)="getCheckedRows(cb.cbNo)" type="checkbox" value="{{cb.cbNo}}"></td>-->
                      <td><input type="checkbox" [(ngModel)]="cb.checked" [ngModelOptions]="{standalone: true}"></td>
                      <td>{{cb.finYearName}}</td>
                      <td>{{cb.unit}}</td>
                      <td>{{cb.subHead}}</td>
                      <td>{{cb.cbNo}}</td>
                      <td>{{cb.amount}}</td>
                      <td>{{cb.cbDate}}</td>
                      <td>{{cb.status}}</td>
                      <td>
                        <button (click)="updateFormdata(cb)" *ngIf="cb.status !== 'Approved'" class="btn btn-primary"
                                type="button">View
                        </button>
                        <button (click)="downloadBill(cb)" *ngIf="cb.status === 'Approved'" class="btn btn-primary"
                                type="button">Download
                        </button>
                      </td>
                      <td>
                        <form>
                        <div class="form-group">
                        <div *ngIf="cb.status === 'Approved' && cb.isFlag=='0'" class="input-group">
                          <div [formGroup]="formData" class="custom-file">
                            <input #uploadFileInput class="custom-file-input" (change)="setLabel(formData.value)"  formControlName="uploadFile" id="uploadFile"
                                   type="file">
                            <label class="custom-file-label" for="invoice" *ngIf="label!=undefined">{{label}}</label>
                            <label class="custom-file-label" for="invoice" *ngIf="label==undefined">Choose File</label>
                          </div>
                          <div class="input-group-append">
                              <span (click)="uploadBill(cb)" class="input-group-text"
                                    style="cursor: pointer">Upload</span>
                          </div>
                          <div class="input-group-append" *ngIf="docId!=undefined">
                            <span class="input-group-text" (click)="viewFile(docId)">View</span>
                          </div>
                        </div>
                        </div>
                        </form>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row">
            <button (click)="confirmModel()" class="btn btn-primary mr-2" type="submit">Submit</button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
