<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Contingent Bill Approval</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Contingent Bill Approval</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Contingent Bill Details</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form [formGroup]="formdata">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>F.Y.</th>
                      <th>CB Unit</th>
                      <th>Sub Head</th>
                      <th>CB No.</th>
                      <th>Amount</th>
                      <th>CB Date</th>
                      <th>Status</th>
                      <th></th>
                      <th></th>
                      <th *ngIf="sharedService.userRole=='CB Creator' &&sharedService.redirectedFrom=='inbox'">Ink Sign</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let cb of cbList | paginate :{itemsPerPage:10,currentPage:p}; let i = index">
                      <!-- <td><input type="checkbox" value="{{cb.cbNo}}" (change)="getCheckedRows(cb.cbNo)"></td> -->
                      <td>{{10 *(p-1)+i+1}}</td>
                      <td>{{cb.finYearName}}</td>
                      <td>{{cb.unit}}</td>
                      <td>{{cb.subHead}}</td>
                      <td>{{cb.cbNo}}</td>
                      <td>{{cb.amount}}</td>
                      <td>{{cb.cbDate}}</td>
                      <td>{{cb.status}}</td>
                      <td><button type="button" class="btn btn-primary" (click)="updateFormdata(cb)">View</button>
                      </td>
                      <td><button type="button" class="btn btn-danger" (click)="downloadBill(cb)" >Download Bill</button></td>
                      <td *ngIf="sharedService.userRole=='CB Creator' &&sharedService.redirectedFrom=='inbox'"><form>
                        <div class="form-group">
                          <div *ngIf="cb.status === 'Approved' && sharedService.userRole=='CB Creator' " class="input-group">
                            <div [formGroup]="formData" class="custom-file">
                              <input #uploadFileInput class="custom-file-input" (change)="setLabel(formData.value,i)"
                                     formControlName="uploadFile" id="uploadFile" type="file">
                              <label class="custom-file-label" for="invoice"
                                     *ngIf="cb.label!=''">{{cb.label}}</label>
                              <label class="custom-file-label" for="invoice" *ngIf="cb.label==''">Choose
                                File</label>
                            </div>
                            <div class="input-group-append">
                                  <span (click)="uploadBill(cb)" class="input-group-text"
                                        style="cursor: pointer">Upload</span>
                            </div>
                            <div class="input-group-append" *ngIf="docId!=undefined">
                              <span class="input-group-text" (click)="viewFile(docId)">View</span>
                            </div>
                          </div>
                        </div>
                      </form></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row mt-2">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">

                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                      <pagination-controls class="pagination float-right"
                                           (pageChange)="p = $event"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Financial Year</label>
                  <ng-select [readonly]="true" class="form-control select2bs4" style="width: 100%" [items]="finYearData"
                             bindLabel="finYear" placeholder="Select Financial Year" formControlName="finYearName">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Major Head</label>
                  <ng-select [readonly]="true" name="majorHead" [(ngModel)]="majorHead" class="form-control select2bs4"
                             style="width: 100%" [items]="majorHeadData" bindLabel="majorHead" placeholder="Select Major Head"
                             formControlName="majorHead">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sub Head Type</label>
                  <input type="text" class="form-control" id="subheadtype" placeholder="Sub Head Type"
                         formControlName="sHT" readonly/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sub Head</label>
                  <ng-select [readonly]="true" name="subHead" class="form-control select2bs4" style="width: 100%"
                             [items]="subHeadData" bindLabel="subHeadDescr" placeholder="Select Sub Head"
                             formControlName="subHead">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>CB Unit</label>
                  <input type="text" class="form-control" id="unit" placeholder="Enter Unit"
                         formControlName="unit" readonly/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Minor Head</label>
                  <ng-select [readonly]="true" name="MinorHead" class="form-control select2bs4" style="width: 100%"
                             [items]="minorHeadData" bindLabel="minorHead" placeholder="Select Minor Head"
                             formControlName="minorHead">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Budget Alloted</label>
                  <input formControlName="budgetAllocated" type="number" class="form-control" id="budgetAllotted"
                         readonly />
                </div>
              </div>
              <div class=" col-md-4 row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>CB Amount <i class="fas fa-info-circle" title="Withdraw Amount From CDA For CB Amount. For This Click On Withdraw Amount"></i></label>
                    <input class="form-control" formControlName="amount" id="Amount" type="number" [readonly]="true" placeholder="Enter Amount in INR" />
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <label style="opacity: 0;">.</label><br>
                  <button  class="btn btn-warning " type="button" data-toggle="modal" data-target="#modal-lg">Withdraw Amount</button>
                </div>
              </div>
              <!--              <div class="col-md-4">-->
              <!--                <div class="form-group">-->
              <!--                  <label>CB Amount</label>-->
              <!--                  <input type="number" class="form-control" id="Amount" placeholder="Enter Amount"-->
              <!--                    formControlName="amount"  />-->
              <!--                </div>-->
              <!--              </div>-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>GST</label>
                  <input type="number" class="form-control" id="gst" formControlName="gst" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Proggressive Expenditure Including This Bill</label>
                  <input type="number" class="form-control" id="Proggressive" formControlName="progressive" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Balance Fund</label>
                  <input type="text" class="form-control" id="BalanceFund" formControlName="balance" readonly  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>CB No.</label>
                  <input type="text" class="form-control" id="PrevAllocation" placeholder="Enter CB Number"
                         formControlName="cbNo" readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>CB Date</label>
                  <input type="date" class="form-control" id="cbDate" placeholder="Enter Date" formControlName="cbDate"
                         readonly />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sanction Unit</label>
                  <input type="text" class="form-control" id="authunit" placeholder="Enter Authority Unit"
                         formControlName="authorityUnit" (change)="updateExpenditure()" readonly/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sanction</label>
                  <input type="text" readonly class="form-control" id="authority" placeholder="Enter Remarks"
                         formControlName="authority" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sanction Date</label>
                  <input type="date" readonly class="form-control" id="date" placeholder="Enter Date"
                         formControlName="date" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="File">Sanction File</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="text" class="form-control" id="File" placeholder="FileName" formControlName="file"
                             readonly />
                      <!--                            <input type="file" class="custom-file-input" id="InputFile" readonly formControlName="file" >-->
                      <!--                          <label class="custom-file-label" for="File">C://klkjdfkl/doc.pdf</label>-->
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" (click)="viewFile('file')">View</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Firm Name</label>
                  <input type="text" class="form-control" readonly id="FirmName" placeholder="Enter Firm Name"
                         formControlName="firmName" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Invoice Number</label>
                  <input type="text" class="form-control" readonly id="invoiceNo" placeholder="Enter Invoice Number"
                         formControlName="invoiceNo" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Invoice Date</label>
                  <input type="date" class="form-control" readonly id="invoiceDate" placeholder="Enter Invoice Date"
                         formControlName="invoiceDate" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="invoice">Invoice Upload</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="text" class="form-control" id="invoice" placeholder="FileName"
                             formControlName="invoiceFile" readonly />
                      <!--                            <input type="text" readonly class="form-control" id="invoice" formControlName="invoiceFile">-->
                      <!--                          <label class="custom-file-label" placeholder="InvoiceFile" for="invoice"></label>-->
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" (click)="viewFile('invoiceFile')">View</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>File Number</label>
                  <input type="text" class="form-control" readonly id="FirmName" placeholder="Enter Firm Name"
                         formControlName="fileNo" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>File Date</label>
                  <input type="date" class="form-control" readonly id="FirmName" placeholder="Enter Firm Name"
                         formControlName="fileDate" />
                </div>
              </div>
              <div class="col-md-4" *ngIf="sharedService.redirectedFrom === 'inbox'&&  sharedService.roleHeading != 'CB Creator'">
                <div class="form-group">
                  <label>Return Remarks</label>
                  <input type="text" class="form-control" id="ReturnRemarks" placeholder="Return Remarks"
                         formControlName="returnRemarks" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>On Account Of</label>
                  <textarea class="form-control" formControlName="onAccOf" id="onAccOf"
                            type="text" readonly></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Authority Detail</label>
                  <textarea class="form-control" formControlName="authDetail" id="authDetail"
                            type="text" readonly></textarea>
                </div>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row" *ngIf="sharedService.redirectedFrom === 'inbox' &&  sharedService.roleHeading != 'CB Creator'">
            <button type="button" class="btn btn-primary mr-2" (click)="confirmModel()">Approve</button>
            <button type="button" class="btn btn-danger" (click)="confirmRejectModel()">Return</button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>
                    <!--                    <th>S.No.</th>-->
                    <th>CDA Name</th>
                    <th>Available Amount(INR)</th>
                    <th>Withdrawl Amount(INR)</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let cda of cdaData">
                    <!--                    <td>1</td>-->
                    <td>{{cda.ginNo.cdaName}}</td>
                    <td>{{cda.remainingCdaAmount}}</td>
                    <td><input [(ngModel)]="cda.amount" disabled type="number" class="form-control" placeholder="Enter Amount in INR" /></td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <!--          <button type="button" class="btn btn-primary">Submit</button>-->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
