<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget Receipt</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budget Receipt</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget Receipt</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <form [formGroup]="formdata">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Financial Year <span class="text-danger">*</span></label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="finYearList"
                        bindLabel="finYear" placeholder="Select Financial Year" formControlName="finYear"
                        (change)="changeFinYear()">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Major Head <span class="text-danger">*</span></label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="majorHeadList"
                        bindLabel="majorHead" placeholder="Select Major Head" formControlName="majorHead"
                        (change)="setminorhead($event)">
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Minor Head</label>
                      <input type="text" class="form-control" id="minorHead" placeholder="Enter Minor Head"
                        formControlName="minorHead" readonly />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rupees in<span class="text-danger"></span></label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="amountType"
                        bindLabel="amountType" placeholder="Select Amount Unit" [(ngModel)]="defaultAmountType"
                        formControlName="amountType" (change)="setAmountType(formdata.value)"></ng-select>
                    </div>
                  </div>
                  <div class=" col-md-12">
                    <div class="form-group">
                      <label>Remarks <span class="text-danger"></span></label>
                      <input type="text" class="form-control" id="remarks" placeholder="Enter Remarks"
                        formControlName="remarks" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Subhead Type</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeadType"
                        bindLabel="subType" placeholder="Select Major Head" formControlName="subHeadType"
                        (change)="majorHeadChange($event, formdata.value)">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Allocation Type</label>
                      <input type="text" class="form-control" id="PrevioAllocation" placeholder="Select Allocation Type" formControlName="allocType"
                             name="" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-9">
              <div class="card-body table-responsive p-0 " style="height:430px;">
                <table class="table table-hover text-nowrap" style="height:430px;">
                  <thead>
                    <tr>
                      <th>Sr.No.</th>
                      <th>Sub Head</th>
                      <th *ngIf="isSelectedRE || isSelectedMA ||isSectedVOA">BE</th>
                      <th *ngIf="isSelectedMA || isSectedSG">RE</th>
                      <th *ngIf="isSectedSG">MA</th>
<!--                      <th><ng-select class="form-control select2bs4" style="width: 100%" bindLabel="allocType"-->
<!--                          placeholder="Select Allocation Type" [items]="allocationTypeList"-->
<!--                          [(ngModel)]="autoSelectedAllocationType" (change)="allocationTypeChange($event)">-->
<!--                        </ng-select></th>-->
                      <th *ngFor="let previousReciept of previousRecieptData">{{previousReciept.allocationType.allocDesc}}</th>
                       <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subHeadData of subHeadList; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{subHeadData.subHeadDescr}}</td>
                      <td *ngIf="isSelectedRE || isSelectedMA ||isSectedVOA">
                        <span *ngIf="subHeadData.be == 0.0">-</span>
                        <span *ngIf="subHeadData.be != 0.0">{{subHeadData.be}}</span>
                      </td>
                      <td *ngIf="isSelectedMA || isSectedSG">
                        <span *ngIf="subHeadData.re == 0.0">-</span>
                        <span *ngIf="subHeadData.re != 0.0">{{subHeadData.re}}</span>
                      </td>
                      <td *ngIf="isSectedSG">
                        <span *ngIf="subHeadData.ma == 0.0">-</span>
                        <span *ngIf="subHeadData.ma != 0.0">{{subHeadData.ma}}</span>
                      </td>
                      <td  *ngFor="let previousReciept of previousRecieptData" >{{previousReciept.data[i].budgetAllocations[0].allocationAmount}}</td>
                      <td><input type="number" class="form-control" id="Aallocationamount"
                          placeholder="Please Enter Amount Here" [(ngModel)]="subHeadData.amount"
                          [ngModelOptions]="{standalone: true}" (change)="allocatedAmount(i,formdata.value)" /></td>
                    </tr>

                  </tbody>
                  <tfoot style="position: absolute;bottom: 8px;background-color: #f6f9fc;width: 98%;border: 1px solid #dee2e6;border-radius: 0 0px 5px 5px;">
                    <tr style="float: right; padding-right: 102px">
                      <td class="font-weight-bold">Total</td>
                      <td></td>
                      <td *ngIf="isSelectedRE || isSelectedMA ||isSectedVOA"></td>
                      <td *ngIf="isSelectedMA || isSectedSG"></td>
                      <td *ngIf="isSectedSG"></td>
                      <td class="font-weight-bold"> = {{totalAmount | number:'1.1-4'}}</td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
            <!-- /.col -->
          </div>

          <!-- /.row -->

          <div class="card-body table-responsive p-0 mt-4">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <!-- <th></th> -->
                  <th style="width: 300px;">Auth Unit</th>
                  <th>Authority</th>
                  <th>Authority Date</th>
                  <th>Remark</th>
                  <th>Document Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uploadData of uploadDocuments; let i = index">
                  <!-- <td><input class="form-check-input" type="checkbox" id="check1" name="option1" value="001"></td> -->
                  <td>
                    <div class="form-group">
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="unitForDocuments"
                        bindLabel="descr" appendTo="body" placeholder="Select To Unit"
                        [(ngModel)]="uploadData.authUnit">
                      </ng-select>
                    </div>
                  </td>
                  <td><input type="text" class="form-control" id="PrvAllocation" placeholder="Enter Authority"
                      [(ngModel)]="uploadData.authority" name="uploadData.authority" /></td>
                  <td><input type="date" class="form-control" id="date" [(ngModel)]="uploadData.authorityData" (change)="checkDate(i)"/></td>
                  <td><input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"
                      [(ngModel)]="uploadData.remarks" /></td>
                  <td>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="exampleInputFile"
                            (change)="onChangeFile($event,i)">

                          <label *ngIf="uploadData.filepath!=undefined" class="custom-file-label"
                            for="exampleInputFile">{{uploadData.filepath}}</label>
                          <label *ngIf="uploadData.filepath==undefined" class="custom-file-label" for="exampleInputFile">Choose
                            File</label>
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text" (click)="uploadFile(i)">Upload</span>
                        </div>
                        <div class="input-group-append" *ngIf="uploadDocuments[i]!=undefined">
                          <span class="input-group-text" (click)="viewFile(uploadDocuments[i].uploadDocId)">View</span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-danger float-left"
                      (click)="deleteFieldValue(i)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12 col-md-12">
              <button type="submit" class="btn btn-primary mr-2 float-left" (click)="addFieldValue()">Add Row</button>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row">
            <button type="submit" class="btn btn-primary" (click)="saveBudgetRecipt()" *ngIf="!isUpdate">Save</button>
            <button type="submit" class="btn btn-primary" (click)="saveBudgetRecipt()" *ngIf="isUpdate">Update</button>
          </div>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">View Receipt</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm">
              <input type="text" [(ngModel)]="searchText" class="form-control"
                placeholder="Search by F.Y./MA/Supplementary Grant">
              <div class="input-group-append">
                <div class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card-tools mr-2" style="width:17%;">
            <div class="form-group input-group input-group-sm row" [formGroup]="formData">
              <label class="float-left col-md-5">Rupees in: </label>
              <ng-select class="form-control select2bs4 col-md-7" style="width: 100%" [items]="amountType"
                bindLabel="amountType" placeholder="Select Amount Unit" [(ngModel)]="defaultAmountType2"
                formControlName="amountType2" (change)="setAmountType2(formdata.value)"></ng-select>
            </div>
          </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body">
          <div class="card-body table-responsive p-0 mt-4">
            <table class="table table-hover text-nowrap" *ngIf="defaultAmountType!=undefined">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>F.Y.</th>
                  <th>Sub Head</th>
                  <th>Type</th>
                  <th>Amount(in {{defaultAmountType2.amountType}})</th>
                  <th>Remarks</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="searchText == ''">
                <tr
                  *ngFor="let tableData of finalTableData  | searchPipeReciept: searchText | paginate :{itemsPerPage:10,currentPage:p}; let i = index">
                  <td>{{10 *(p-1)+i+1}}</td>
                  <td>{{tableData.finYear.finYear}}</td>
                  <td *ngIf="tableData.subHead!= undefined">{{tableData.subHead.subHeadDescr}}</td>
                  <td>{{tableData.allocTypeId.allocDesc}}</td>
                  <td>
                    <div *ngIf="tableData.isEdit">
                      <input type="text" class="form-control" id="allocationAmount"
                        [(ngModel)]="tableData.allocationAmount" />
                    </div>
                    <div *ngIf="!tableData.isEdit">
                      {{tableData.allocationAmount}}
                    </div>
                  </td>
                  <td>{{tableData.remarks}}</td>
                  <td>
                    <div *ngIf="!tableData.isEdit">
                      <button type="submit" class="btn btn-primary mr-2" (click)="previewURL(tableData)"><i
                          class="fas fa-eye"></i> View</button>
                      <button *ngIf="tableData.isCdaParked != '1'" type="submit" class="btn btn-warning mr-2"
                        (click)="updateRecieptByInlineEditing(tableData, i)"><i class="fas fa-edit"></i> Edit</button>
                    </div>
                    <div *ngIf="tableData.isEdit">
                      <button type="submit" class="btn btn-secondary mr-2" (click)="updateRecipetSave(tableData)">
                        Update</button>
                      <button type="submit" class="btn btn-warning mr-2" (click)="cancelUpdate(tableData)"><i
                          class="fas fa-edit"></i> Cancel</button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="searchText != '' ">
                <tr
                  *ngFor="let tableData of finalTableData  | searchPipeReciept: searchText | paginate :{itemsPerPage:10,currentPage:p}; let i = index">
                  <td>{{10 *(p-1)+i+1}}</td>
                  <td>{{tableData.finYear.finYear}}</td>
                  <td *ngIf="tableData.subHead!= undefined">{{tableData.subHead.subHeadDescr}}</td>
                  <td>{{tableData.allocTypeId.allocDesc}}</td>
                  <td>
                    <div *ngIf="tableData.isEdit">
                      <input type="text" class="form-control" id="recieptAmountUpdate"
                        [(ngModel)]="tableData.allocationAmount" />
                    </div>
                    <div *ngIf="!tableData.isEdit">
                      {{tableData.allocationAmount}}
                    </div>
                  </td>
                  <td>{{tableData.remarks}}</td>
                  <!-- <td>{{tableData.authList[0].docId.pathURL}}</td> -->
                  <td>

                    <div *ngIf="!tableData.isEdit">
                      <button type="submit" class="btn btn-primary mr-2" (click)="previewURL(tableData)"><i
                          class="fas fa-eye"></i> View</button>
                      <button *ngIf="tableData.isCdaParked != '1'" type="submit" class="btn btn-warning mr-2"
                        (click)="updateRecieptByInlineEditing(tableData, i)"><i class="fas fa-edit"></i> Edit</button>
                    </div>

                    <div *ngIf="tableData.isEdit">
                      <button type="submit" class="btn btn-secondary mr-2"
                        (click)="updateRecipetSave(tableData)">Update</button>
                      <button type="submit" class="btn btn-warning mr-2" (click)="cancelUpdate(tableData)"><i
                          class="fas fa-edit"></i> Cancel</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <!-- <div class="card-footer">
          <div class="row">
            <button type="submit" class="btn btn-primary"> <i class="fas fa-download"></i> Download</button>
          </div>
        </div> -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->
</div>
<!-- <ngx-extended-pdf-viewer [src]="'https://icg.net.in/bmsreport/1681724256950.pdf'" [height]="'95%'"
  [useBrowserLocale]="true" [textLayer]="true" [showHandToolButton]="true">
</ngx-extended-pdf-viewer> -->

<!-- /.content-wrapper -->
