.identity{
    margin-bottom: 0px !important;
    font-size:  0.7rem !important;
}
.collapse,.collapse2{
    padding-left: 24px;
    }
    .collapse .nav-link.active, .collapse2 .nav-link.active{
        background-color: #1a02f3;
        color: #fff;
    }
    .collapse > .nav-item:hover > .nav-link, .collapse2 > .nav-item:hover > .nav-link{
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }