<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Approved</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Approved</a></li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Approved</h3>

            <div class="card-tools">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search Requests">
                    <div class="input-group-append">
                      <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th>S.No.</th>
                              <th>Type</th>
                              <th>Created Date & Time</th>
                              <th>Unit/SubHead</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let li of inboxList| paginate :{itemsPerPage:20,currentPage:p}; let i = index"
                              id="htmlData" >
                            <td>{{20 *(p-1)+i+1}}</td>
                            <td>{{li.isType}}</td>
                            <td>{{li.createDate}}</td>
                            <td>{{li.unit_sub}}</td>
                            <td>{{li.status}}</td>
                            <td><button type="submit" class="btn btn-warning mr-2" (click)="redirect(li)"> <i
                              class="fas fa-eye"></i> View</button>
                              <button *ngIf="li.status== 'Fully Approved'||li.isType=='Budget Reciept'" type="button" class="btn btn-primary mr-2" (click)="getAuthDoc(li)">Auth Doc</button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="row mt-2">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                            <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
          </div>
          <!-- /.card-body -->
<!--          <div class="card-footer">-->
<!--            <div class="row">-->
<!--              <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-download"></i> Download</button>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
