<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" *ngIf="localStorage.getItem('userRole')=='120'||localStorage.getItem('userRole')=='119'||localStorage.getItem('userRole')=='118'||localStorage.getItem('userRole')=='117'||localStorage.getItem('userRole')=='116'||localStorage.getItem('userRole')=='115'||localStorage.getItem('userRole')=='114'">

  <!-- Content Header (Page header) -->
  <div class="content-header" *ngIf="userAuthorised">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content" *ngIf="userAuthorised">
    <div class="container-fluid">
      <!-- Main row -->
      <div class="row">
        <section class="col-lg-12 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-filter mr-1"></i>
                Filter Data Unit Wise
              </h3>
              <!-- card tools -->
              <div class="card-tools">
                <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <!-- /.card-tools -->
              <!-- <div [formGroup]="myGroup">
                  <input formControlName="firstName">
                </div> -->


            </div><!-- /.card-header -->
            <div class="card-body">
              <form [formGroup]="formdata">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart0" style="position: relative;">
                    <form>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group" [formGroup]="formdata">
                            <label>Financial Year</label>
                            <ng-select class="form-control select2bs4" style="width: 100%" [items]="budgetFinYears"
                              bindLabel="finYear" placeholder="Select Financial Year" formControlName="finYear"
                              appendTo="body" (change)="stAllocationType()">
                            </ng-select>
                            <!-- <select class="form-control select2bs4" style="width: 100%">      //vaibhav -->
                            <!-- <option selected="selected">2022-23</option>
                                <option>2021-22</option>
                                <option>2020-21</option> -->
                            <!-- </select> -->
                          </div>
                        </div>
                       <!-- start of previous  div for option -->
                        <!-- <div class="col-md-3">
                          <div class="form-group" [formGroup]="formdata">
                            <label>Unit</label>
                            <ng-select class="form-control select2bs4" style="width: 100%" [items]="allunits"
                              bindLabel="descr" appendTo="body" placeholder="Select To Unit" formControlName="unit"
                              appendTo="body">
                            </ng-select>
                          </div>
                        </div> -->
                        <!-- End of previous div for option -->

                         <!-- changes done to display the option on the click -->
                        <div class="col-md-3">
                          <div class="form-group" [formGroup]="formdata">
                            <label>Unit</label>
                            <ng-select
                              class="form-control select2bs4"
                              style="width: 100%"
                              [items]="allunits"
                              bindLabel="descr"
                              placeholder="Select To Unit"
                              formControlName="unit"
                              appendTo="body">

                              <ng-template ng-option-tmp let-item="item">
                                <div title="{{item.descr}}">
                                  {{item.descr}}
                                </div>
                              </ng-template>
                            </ng-select>
                          </div>
                        </div>
                        <!-- end of changes for the option -->

                        <div class="col-md-3">
                          <div class="form-group" [formGroup]="formdata">
                            <label>Sub Head Type<span class="text-danger"></span></label>
                            <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeadType"
                                       bindLabel="subType" placeholder="Select Subhead"
                                       formControlName="subHeadType"></ng-select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group" [formGroup]="formdata">
                            <label>Major Head<span class="text-danger"></span></label>
                            <ng-select class="form-control select2bs4" style="width: 100%" [items]="majorDataNew"
                                       bindLabel="majorHead" placeholder="Select MajorHead"
                                       formControlName="majorHead" (change)="getSubHead(formdata.value)"></ng-select>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <!-- previous div for sub head  -->
                          <!-- <div class="form-group" [formGroup]="formdata">
                            <label>Sub Head<span class="text-danger"></span></label>
                            <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeads"
                              bindLabel="subHeadDescr" placeholder="Select Amount Unit"
                              formControlName="subHead"  appendTo="body"></ng-select>
                          </div> -->
                          <!-- previous div for sub head  -->

                          <!-- start of the sub head changes to display full names  -->
                          <div class="form-group" [formGroup]="formdata">
                            <label>Sub Head<span class="text-danger"></span></label>
                            <ng-select class="form-control select2bs4" style="width: 100%"
                                       [items]="subHeads"
                                       bindLabel="subHeadDescr"
                                       placeholder="Select Amount Unit"
                                       formControlName="subHead"
                                       appendTo="body">
                                <ng-template ng-option-tmp let-item="item">
                                    <span title="{{item.subHeadDescr}}">{{item.subHeadDescr}}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                        <!-- end of changes  -->

                        </div>
                        <div class="col-md-3">
                          <div class="form-group" [formGroup]="formdata">
                            <label>Allocation Type</label>
                            <ng-select class="form-control select2bs4" style="width: 100%" [items]="allocationType"
                              bindLabel="allocDesc" placeholder="Select Allocation Type"
                              formControlName="allocationType" appendTo="body">
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group" [formGroup]="formdata">
                            <label>Rupees in<span class="text-danger"></span></label>
                            <ng-select bindLabel="amountType" class="form-control select2bs4"  [(ngModel)]="amountUnits" [items]="amountType" formControlName="rupeeUnit"
                                       placeholder="Select Amount Unit" style="width: 100%" appendTo="body"></ng-select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label style="opacity:0">.</label>
                            <br>
                            <!-- <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-search"></i> Search</button> -->
                            <td><button type="submit" class="btn btn-primary mr-2"
                                (click)="getTableData(formdata.value)" (click)="searchData()" (click)="getSubheadWiseTableData(formdata.value)"><i
                                  class="fas fa-search"></i>
                                Search</button></td>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </form>
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </section>
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable" *ngIf="formdata.get('subHead')?.value">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Subhead Wise Expenditure
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content p-0" *ngIf="showSubheadGraph">
                <h6>{{selectedSubhead.subHeadDescr}}</h6>
                <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                  <!-- <canvas id="my-chart" height="300" style="height: 300px; width: 550px;" baseChart -->
                   <!-- previous it was 300px and width was 550px now it is changed as per user guidance (Shriom Sir) -->
                  <canvas id="my-chart" height="300" style="height: 300px; width: 1100px;" baseChart
                          [data]="barChartData"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [type]="'bar'">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="col-lg-12 connectedSortable" *ngIf="formdata.get('subHead')?.value">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Subhead Wise Expenditure
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content p-0">
                <div class="chart tab-pane active" id="revenue-chart3" style="position: relative;">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap" *ngIf="subHeadsResponse!=undefined">
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>Unit</th>
                              <th>F.Y.</th>
<!--                              <th>Sub Head</th>-->
                              <th>Allocated (in {{subheadwiseUnit}})</th>
                              <th>Expenditure (in {{subheadwiseUnit}})</th>
                              <th>Balance (in {{subheadwiseUnit}})</th>
                              <th>Last CB Date</th>
                              <th>Expenditure %</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let entry of subHeadsResponse| paginate :{id: 'pagination2',itemsPerPage:15,currentPage:q} ; let i = index">
                              <td>{{15 *(q-1)+i+1}}</td>
                              <td>{{entry.unitName}}</td>
                              <td>{{entry.finYear}}</td>
<!--                              <td>{{entry.budgetHead.subHeadDescr}}</td>-->
                              <td>{{entry.allocatedAmount}}</td>
                              <td>{{entry.expenditureAmount}}</td>
                              <td>{{entry.balAmount}}</td>
                              <td>{{entry.lastCBDate}}</td>
                              <td>{{entry.perAmount}} %</td>
                            </tr>
                          </tbody>
                          <tfoot>
                          <td></td>
                          <td></td>
                          <td>Grand Total</td>
                          <td>{{totalSAllocated}}</td>
                          <td>{{totalSExpenditure}}</td>
                          <td>{{totalSBalance}}</td>
                          <td></td>
                          <td>{{totalSExpenditurePer}}%</td>
                          </tfoot>
                        </table>
                      </div>
                      <div class="row mt-2">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
<!--                            <ngx-pagination-->
<!--                              (pageChange)="onPageChange2($event)">-->
<!--                            </ngx-pagination>-->

<pagination-controls id="pagination2" class="pagination float-right"
                              (pageChange)="q = $event"></pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
         <section class="col-lg-12 connectedSortable" *ngIf="formdata.get('unit')?.value">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Unit Wise Expenditure
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
<!--              <input type="range" min="100" max="500" [(ngModel)]="graphHeight" class="slider">-->
              <div class="tab-content p-0" *ngIf="showUnitGraph">
                <h6>
                  {{tableData[0].cgUnit.descr}}
                </h6>
                <div class="chart tab-pane active" id="revenue-chart2" style="position: relative; height: 300px;">
<!--                  <canvas id="my-chart2" height="300" style="height: 300px;"></canvas>-->
                      <!-- <canvas id="my-chart2" height="300" style="height: 300px; width: 550px;" -->
                  <canvas id="my-chart2" height="300" style="height: 300px; width: 1100px;" baseChart
                          [data]="barChartDataUnitwise"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [type]="'bar'">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- right col -->
        <section class="col-lg-12 connectedSortable" *ngIf="formdata.get('unit')?.value">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Unit Wise Expenditure
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content p-0">
                <div class="chart tab-pane active" id="revenue-chrt3" style="position: relative;">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap" *ngIf="tableData!=undefined">
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>Unit</th>
                              <th>F.Y.</th>
                              <th>Sub Head</th>
                              <th>Allocated (in {{unitwiseUnit}})</th>
                              <th>Expenditure (in {{unitwiseUnit}})</th>
                              <th>Balance (in {{unitwiseUnit}})</th>
                              <th>Last CB Date</th>
                              <th>Expenditure %</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let entry of tableData| paginate :{id: 'pagination1',itemsPerPage:15,currentPage:p} ; let i = index">
                              <td>{{15 *(p-1)+i+1}}</td>
                              <td>{{entry.cgUnit.descr}}</td>
                              <td>{{entry.budgetFinancialYear.finYear}}</td>
                              <td>{{entry.budgetHead.subHeadDescr}}</td>
                              <td>{{entry.allocatedAmount}}</td>
                              <td>{{entry.expenditureAmount}}</td>
                              <td>{{entry.balAmount}}</td>
                              <td>{{entry.lastCBDate}}</td>
                              <td>{{entry.perAmount}} %</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Grand Total</td>
                            <td>{{totalUAllocated}}</td>
                            <td>{{totalUExpenditure}}</td>
                            <td>{{totalUBalance}}</td>
                            <td></td>
                            <td>{{totalUExpenditurePer}}%</td>
                          </tfoot>
                        </table>
                      </div>
                      <div class="row mt-2">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info" id="exmple2_info" role="status" aria-live="polite">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div class="dataTables_paginate paging_simple_numbers" id="exmple2_paginate">
                            <pagination-controls id="pagination1" class="pagination float-right"
                              (pageChange)="p = $event"></pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
