<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget Allocation Subhead Wise</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Budget Allocation</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget Allocation Subhead Wise</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="formdata" (ngSubmit)="saveFirstForm(formdata.value)">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Financial Year</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="budgetFinYears"
                        bindLabel="finYear" placeholder="Select Financial Year" formControlName="finYear">
                        <!-- [ngClass]="{'is-invalid' : submitted && formdata.controls.finYear.errors}" -->
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <label>Sub Head</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="subHeads"
                        bindLabel="subHeadDescr" placeholder="Select Sub Head" formControlName="subHead"
                        (change)="getFundAvailableBuFinYearAndSubHeadAndAllocationType(formdata.value, $event)">
                      </ng-select>
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label>Major Head</label>
                      <input type="number" class="form-control" id="majorHead" placeholder="Major Head"
                        formControlName="majorHead" readonly />
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <label>Minor Head</label>
                      <input type="number" class="form-control" id="minorHead" placeholder="Minor Head"
                        formControlName="minorHead" readonly />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Allocation Type</label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="allocationType"
                        bindLabel="allocDesc" placeholder="Select Allocation Type" formControlName="allocationType">
                      </ng-select>
                    </div>
                  </div>

                  <div class=" col-md-9">
                    <div class="form-group">
                      <label>Fund Available</label>
                      <input type="text" class="form-control" id="fundAvailable" placeholder="Enter Remarks"
                        formControlName="fundAvailable" readonly />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Rupees in<span class="text-danger"></span></label>
                      <ng-select class="form-control select2bs4" style="width: 100%" [items]="amountTypeas"
                        [(ngModel)]="amountUnit" bindLabel="amountType" placeholder="Select Amount Unit"
                        formControlName="amountType" (change)="setAmountUnit()"></ng-select>
                    </div>
                  </div>
                  <!-- <div class=" col-md-6">
                    <div class="form-group">
                      <label>Current Allocation</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"
                        formControlName="currentAllocation" readonly />
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label>Balance Fund</label>
                      <input type="number" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"
                        formControlName="balanceFund" readonly />
                    </div>
                  </div> -->
                  <div class="col-md-9">
                    <div class="form-group">
                      <label>Remarks</label>
                      <input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"
                        formControlName="remarks" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label style="opacity:0">.</label><br>
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="card-body table-responsive p-0" style="height: 262px;">
                <table class="table table-hover text-nowrap" style="height: 262px;">
                  <thead>
                    <tr>
                      <th>Unit</th>
                      <th>Amount</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subHeadWiseUnit of subHeadWiseUnitList; let i = index">

                      <td>
                        <div class="form-group">
                          <ng-select class="form-control select2bs4" style="width: 100%" [items]="allunits"
                            bindLabel="descr" appendTo="body" placeholder="Select To Unit"
                            [(ngModel)]="subHeadWiseUnit.unit">
                          </ng-select>
                        </div>
                      </td>
                      <td><input type="number" class="form-control" id="Aallocationamount"
                          placeholder="Please Enter Amount" [(ngModel)]="subHeadWiseUnit.amount"
                          (change)="allocatedAmount(i)" /></td>
                      <td><button type="submit" class="btn btn-danger mr-2"
                          (click)="deleteSubHeadWiseUnitList(i)">Delete</button></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><button type="submit" class="btn btn-primary mr-2"
                          (click)="moveDataToNextGrid(formdata.value)">Add Row</button></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
            <!-- /.col -->
          </div>

          <!-- /.row -->
          <div class="row">
            <div class="col-sm-12 mt-4">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th><input class="form-check-input" type="checkbox" id="checkall" name="option1"
                                 [(ngModel)]="isAllChecked"   (change)="tableAllCheckBoxClicked()"></th>
                      <th>F.Y.</th>
                      <th>Unit</th>
                      <th>Sub Head</th>
                      <th>Allocation Type</th>
                      <th>Amount ({{displayUnit}})</th>
                      <!-- <th>Remarks</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let budgetAllocation of budgetAllocationArray  | paginate :{itemsPerPage:10,currentPage:p}; let i = index">
                      <td><input class="form-check-input" type="checkbox" id="check1" name="option1"
                                 [(ngModel)]="budgetAllocation.isChecked" [ngModelOptions]="{standalone: true}" (click)="tableCheckBoxClicked(i)"></td>
                      <td>{{budgetAllocation.financialYear.finYear}}</td>
                      <td>{{budgetAllocation.unitName.descr}}</td>
                      <td>{{budgetAllocation.subHeadName.subHeadDescr}}</td>
                      <td>{{budgetAllocation.allocationType.allocDesc}}</td>
                      <td>{{budgetAllocation.amount}}</td>
                      <!-- <td>{{budgetAllocation.remarks}}</td> -->
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <button type="submit" class="btn btn-danger mr-2 float-left"
                    (click)="delteFromTable()">Delete</button>
                  <pagination-controls class="pagination float-right"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="row">
            <button type="submit" class="btn btn-primary mr-2" (click)="saveBudgetDataFn()">Submit</button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
