<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget
            <span *ngIf="type=='BG'">Approval</span>
            <span *ngIf="type=='BR'">Receipt</span>
          </h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">
              <a href="#" *ngIf="type=='BG'">Budget Approval</a>
              <a href="#" *ngIf="type=='BR'">Budget Receipt</a>
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget
            <span *ngIf="type=='BG'">Approval</span>
            <span *ngIf="type=='BR'">Receipt</span>
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <!-- <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Financial Year</label>
                  <select class="form-control select2bs4" style="width: 100%">
                    <option selected="selected">2022-23</option>
                    <option>2021-22</option>
                    <option>2020-21</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>To Unit</label>
                  <select class="form-control select2bs4" style="width: 100%">
                    <option selected="selected">RHQ(W)</option>
                    <option>RHQ(E)</option>
                    <option>RHQ(S)</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Major Head</label>
                  <select class="form-control select2bs4" style="width: 100%">
                    <option selected="selected">2037</option>
                    <option>2036</option>
                    <option>2035</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Minor Head</label>
                  <select class="form-control select2bs4" style="width: 100%">
                    <option selected="selected">102</option>
                    <option>103</option>
                    <option>104</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Allocation Type</label>
                  <select disabled class="form-control select2bs4" style="width: 100%">
                    <option selected="selected">BE</option>
                    <option>Initial</option>
                    <option>Initial</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Remarks</label>
                  <input disabled type="text" class="form-control" id="PrevAllocation" placeholder="CGHQ to RHQ" />
                </div>
              </div>


            </div> -->
          <div class="row">
            <div class="col-sm-12">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>F.Y.</th>
                      <!-- <th>Unit</th> -->
                      <th>Sub Head</th>
                      <th>Type</th>
                      <th>Fund Available</th>
                      <!-- <th>Fund Allocated</th> -->
                      <!-- <th>Balance Amount</th> -->
                      <!-- <th>Remarks</th> -->
                      <!-- <th>Status</th> -->
                      <th *ngIf="isInboxAndOutbox!= 'Outbox' && type!='BG' && userRole!='Budget Approver'">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let buggetData of budgetDataList  | paginate :{itemsPerPage:15,currentPage:p} ; let i = index">
                      <td>{{15 *(p-1)+i+1}}</td>
                      <td>{{buggetData.finYear.finYear}}</td>
                      <!-- <td>{{buggetData.toUnit.cgUnitShort}}</td> -->
                      <td>{{buggetData.subHead.subHeadDescr}}</td>
                      <td>{{buggetData.allocTypeId.allocDesc}}</td>
                      <td>{{buggetData.allocationAmount}}</td>
                      <!-- <td>{{buggetData.allocationAmount}}</td> -->
                      <!-- <td>{{buggetData.allocationAmount}}</td> -->
                      <!-- <td>{{buggetData.remarks}}</td> -->
                      <!-- <td>{{buggetData.status}}</td> -->
                      <td *ngIf="isInboxAndOutbox!= 'Outbox' && type!='BG' && userRole!='Budget Approver'">
                        <button type="submit" class="btn btn-warning mr-2" data-toggle="modal" data-target="#modal-lg"
                          (click)="addCDAParking(buggetData)">Add
                          CDA Parking</button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">

                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <form [formGroup]="formdata">
            <div class="row">
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Authority Unit</label>
                  <select disabled class="form-control select2bs4" style="width: 100%">
                    <option selected="selected">CGHQ</option>
                    <option>RHQ(W)</option>
                    <option>RHQ(S)</option>
                  </select>
                </div>
              </div> -->
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Authority</label>
                  <input disabled type="text" class="form-control" id="BalanceFund" placeholder="BE/15/CGHQ" />
                </div>
              </div> -->
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Date</label>
                  <input disabled type="date" class="form-control" id="Date" placeholder="23/02/23" />
                </div>
              </div> -->
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputFile">View Document</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputFile" disabled>
                      <label class="custom-file-label" for="exampleInputFile">Doc.pdf</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text docBtn">View</span>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-md-4" *ngIf="type=='BG' && userRole=='Budget Approver'">
                <div class="form-group" *ngIf="sharedService.redirectedFrom === 'inbox'">
                  <label>Approve/Return Remarks</label>
                  <input type="text" class="form-control" id="PrevAllocation" placeholder="Enter Remarks"
                    formControlName="remarks" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.card-body -->


        <div class=" card-footer" *ngIf="type=='BG' && userRole=='Budget Approver'">
          <div class="row" *ngIf="sharedService.redirectedFrom === 'inbox'">
            <button type="submit" class="btn btn-primary mr-2" (click)="approveForm(formdata.value)">Approve</button>
            <button type="submit" class="btn btn-danger" (click)="returnForm(formdata.value)">Return</button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>



  <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Parking(Amount : {{totalAmountToAllocateCDAParking}})</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- <div class="col-md-12">
              <div class="card-tools float-right mb-2">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Search Requests">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>

              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>F.Y.</th>
                      <th>Unit</th>
                      <th>Major Head</th>
                      <th>Minor Head</th>
                      <th>Sub Head</th>
                      <th>Bud. Type</th>
                      <th>Amount</th>
                      <th>Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2022-23</td>
                      <td>CGHQ</td>
                      <td>Dte. Budget</td>
                      <td>Minor Head</td>
                      <td>Sub Head</td>
                      <td>BE</td>
                      <td>550.0000</td>
                      <td>Remarks</td>
                    </tr>

                  </tbody>
                  <tfoot>
                    <tr>
                      <td><button type="button" class="btn btn-primary" id="btnCda">Add CDA Parking</button></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>

                </div>
              </div>
            </div> -->
            <div class="col-sm-12" id="cdaParking">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>CDA</th>
                      <!-- <th>Existing</th> -->
                      <th>Current</th>
                      <!-- <th>Total</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cdaParking of multipleCdaParking; let i = index">
                      <td>
                        <ng-select class="form-control select2bs4" style="width: 100%" [items]="cdaUnitList"
                          bindLabel="cdaName" placeholder="Select CDA Unit" appendTo="body"
                          [(ngModel)]="cdaParking.cdaParkingUnit">
                        </ng-select>
                        <!-- <td>2.30</td> -->
                      <td><input type="text" class="form-control" id="Aallocationamount"
                          placeholder="Please Enter Amount" [(ngModel)]="cdaParking.amount" /></td>
                      <!-- <td>7.8</td> -->
                      <td><button type="button" class="btn btn-danger"
                          (click)="deleteFromMultipleCdaParking(i)">Delete</button></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><button type="button" class="btn btn-primary" id="btnCda" (click)="addNewRow()">Add
                          Row</button></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
              <!-- <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                  <pagination-controls class="pagination float-right"></pagination-controls>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveCdaParkingData()">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->