<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Budget
            <span *ngIf="type=='BG'">Approval</span>
            <span *ngIf="type=='BR'">Receipt</span>
          </h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">
              <a href="#" *ngIf="type=='BG'">Budget Approval</a>
              <a href="#" *ngIf="type=='BR'">Budget Receipt</a>
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Budget
            <span *ngIf="type=='BG'">Approval</span>
            <span *ngIf="type=='BR'">Receipt</span>
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <div class="row">
            <div class="col-sm-12">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>F.Y.</th>
                      <th>To Unit</th>
                      <th>Sub Head</th>
                      <th>Type</th>
                      <th>Allocated Fund</th>
                      <!--                      <th-->
                      <!--                        *ngIf="isInboxAndOutbox!= 'Outbox' && type!='Budget Allocation' && userRole!='Budget Approver'">-->
                      <!--                        Rem. Amount-->
                      <!--                      </th>-->
                      <th
                        *ngIf="isInboxAndOutbox!= 'Outbox' && type!='Budget Allocation' && userRole!='Budget Approver'">
                        Action</th>
                      <th
                        *ngIf="type=='Budget Allocation'">
                        CDA Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let buggetData of budgetDataList  | paginate :{itemsPerPage:15,currentPage:p} ; let i = index">
                      <td>{{15 *(p-1)+i+1}}</td>
                      <td>{{buggetData.finYear.finYear}}</td>
                      <td>{{buggetData.toUnit.descr}}</td>
                      <td>{{buggetData.subHead.subHeadDescr}}</td>
                      <td>{{buggetData.allocTypeId.allocDesc}}</td>
                      <td *ngIf="buggetData.balanceAmount!=undefined">{{buggetData.balanceAmount}}
                        {{buggetData.remeningBalanceUnit.amountType}}</td>
                      <td>{{buggetData.allocationAmount}} {{buggetData.amountUnit.amountType}}</td>
                      <!--                      <td-->
                      <!--                        *ngIf="isInboxAndOutbox!= 'Outbox' && type!='Budget Allocation' && userRole!='Budget Approver'">-->
                      <!--                        {{buggetData.balanceAmount}} {{buggetData.remeningBalanceUnit.amountType}}</td>-->
                      <td
                        *ngIf="isInboxAndOutbox== 'approved' && type!='Budget Allocation' && userRole!='Budget Approver'">
                        <button *ngIf="buggetData.isCDAparking == '0'" type="submit" class="btn btn-warning mr-2"
                          data-toggle="modal" data-target="#modal-lg" (click)="addCDAParking(buggetData,i)">Add
                          CDA Parking</button>
                        <button *ngIf="buggetData.isCDAparking == '1'" type="submit" class="btn btn-primary mr-2"
                          data-toggle="modal" data-target="#modal-lg" (click)="viewCDAParking(buggetData)"  >View &
                          Update</button></td>
                      <td *ngIf=" type=='Budget Allocation'"><button  type="submit" class="btn btn-primary mr-2" data-toggle="modal" data-target="#modal-lg1" (click)="cdaDataList(buggetData.cdaData)" >View CDA Info</button></td>

                    </tr>
                  </tbody>

                </table>

                </div>
              <div class="row mt-2" [formGroup]="formdata">
                <div class="col-md-3">
                  <div class="form-group" >
                    <select class="form-control select2bs4" style="width: 100%"
                            id="reporttype" formControlName="reportType"  >
                      <option selected disabled value="Select Report Type">--Select Report Type--</option>
                      <option value="01">CSV Report</option>
                      <option value="02">PDF Report</option>
                      <option value="03">DOCX Report</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-primary mr-2" (click)="downloadReport(formdata.value)"><i class="fas fa-download"></i> Download</button></div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <form [formGroup]="formdata">
            <div class="row">
              <div class="col-md-4"
                *ngIf="type=='Budget Allocation' && userRole=='Budget Approver' && isInboxAndOutbox!= 'Outbox'&&budgetDataList[0].status=='Pending'">
                <div class="form-group">
                  <label>Approve/Return Remarks</label>
                  <input type="text" class="form-control" id="PrevAllocation1" placeholder="Enter Remarks"
                    formControlName="remarks" />
                </div>
              </div>
              <div class="col-md-4"
                   *ngIf="type=='Budget Allocation' && budgetDataList[0]!=undefined">
                <div class="form-group" *ngIf="budgetDataList[0].status!='Pending'">
                  <label>Approve/Return Remarks</label>
                  <input type="text" class="form-control" [(ngModel)]="budgetDataList[0].returnRemarks" id="PrevAllocation" placeholder="Enter Remarks" [readOnly]="true"
                         formControlName="remarks" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.card-body -->

        <div class=" card-footer"
          *ngIf="type=='Budget Allocation' && userRole=='Budget Approver' && isInboxAndOutbox!= 'Outbox' &&budgetDataList[0].status=='Pending'&& sharedService.redirectedFrom!='approved'">
          <div class="row">
            <button type="submit" class="btn btn-primary mr-2" (click)="approveForm(formdata.value)">Approve</button>
            <button type="submit" class="btn btn-danger" (click)="returnForm(formdata.value)">Return</button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <div  class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Parking({{showSubHeadDataInNextPage}})(Amount :
            {{totalAmountToAllocateCDAParking}}) In
            {{amountUnit}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12" id="cdaParking">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>CDA</th>
                      <th>Current</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cdaParking of multipleCdaParking; let i = index">
                      <td>
                        <ng-select class="form-control select2bs4" style="width: 100%" [items]="cdaUnitList"
                          bindLabel="cdaName" placeholder="Select CDA Unit" appendTo="body"
                          [(ngModel)]="cdaParking.cdaParkingUnit">
                        </ng-select>
                      </td>
                      <td><input type="number" class="form-control" id="Aallocationamount"
                          placeholder="Please Enter Amount" [(ngModel)]="cdaParking.amount"
                          (keyup)="getCDAParkingAllocatedAmount()" /></td>
                      <td><button type="button" class="btn btn-danger"
                          (click)="deleteFromMultipleCdaParking(i)">Delete</button></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><button type="button" class="btn btn-primary" id="btnCda" (click)="addNewRow()">Add
                          Row</button></td>
                      <td><b>Remaining Balance = {{balancedRemaingCdaParkingAmount}} In
                          {{amountUnit}}</b></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <button class="btn btn-danger mr-2" data-dismiss="modal">Close</button>
          <button class="btn btn-primary mr-2" data-dismiss="modal" (click)="saveCdaParkingData()" *ngIf="showSubmit"
            [disabled]="isdisableSubmitButton">Submit</button>
          <button class="btn btn-warning" (click)="updateCdaParkingDataApi()" *ngIf="showUpdate"
            [disabled]="isdisableUpdateButton" data-dismiss="modal">Update</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div  class="modal fade" id="modal-lg1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CDA Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12" id="cdaParking1">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>
                    <th>CDA</th>
                    <th>Allocated in {{allocAmountUnit}}</th>
                    <th>Withdrawal in {{amountUnitType}}</th>
                    <th>Balance in {{allocAmountUnit}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let cdaParking of cdaData; let i = index">
                    <td>
                      {{cdaParking.ginNo.cdaName
                      }}
                    </td>
                    <td>{{cdaParking.allocationAmount}}</td>
                    <td>{{cdaParking.amount}}</td>
                    <td>{{cdaParking.remainingAmount}}</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <button class="btn btn-danger mr-2" data-dismiss="modal" (click)="resetCdaList()" >Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
